<%= turbo_stream.update("projects_list") do %>
  <table class="min-w-full table-fixed dark:divide-gray-600">
    <tbody
      class="
        bg-white
        divide-y
        divide-gray-200
        dark:bg-gray-800
        dark:divide-gray-700
      "
    >
      <%= render partial: "dashboard/projects/project", collection: @projects %>
    </tbody>
  </table>
<% end %>

<%= turbo_stream.update "projects_pagination" do %>
  <%= render PaginationComponent.new(
    info: pagy_info(@pagy),
    prev_url:
      (
        if @pagy.prev
          dashboard_projects_url(
            **params.permit(:personal).merge({ page: @pagy.prev })
          )
        else
          nil
        end
      ),
    next_url:
      (
        if @pagy.next
          dashboard_projects_url(
            **params.permit(:personal).merge({ page: @pagy.next })
          )
        else
          nil
        end
      )
  ) %>
<% end %>
