<%= render Viral::PageHeaderComponent.new(title: t(:".title"), subtitle: t(:".subtitle")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="grid gap-4 px-4">
  <%= turbo_frame_tag "history_modal" %>
  <%= render HistoryComponent.new(
    data: @log_data.reverse,
    type: "Project",
    url: new_project_history_path(@project)
  ) %>
</div>
