<%# This should be loaded once into the layout %>
<%= render ConfirmationComponent.new %>
<%# ------------------------------------------ %>

<div id="confirmation-content" class="hidden">
  <%= viral_alert(message: "This is some custom content") %>
</div>

<%= button_to "Confirmation",
"#",
data: {
  turbo_confirm: "",
  turbo_content: "#confirmation-content",
},
class: "button button-destructive" %>
