<%# This should be loaded once into the layout %>
<%= render ConfirmationComponent.new %>
<%# ------------------------------------------ %>

<div class="hidden custom-form">
  <form method="dialog">
    <div>
      <label
        for="project_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Project name</label>
      <input
        type="text"
        id="project_name"
        class="
          bg-gray-50
          border
          border-gray-300
          text-gray-900
          text-sm
          rounded-lg
          focus:ring-primary-500
          focus:border-primary-500
          block
          w-full
          p-2.5
          dark:bg-gray-700
          dark:border-gray-600
          dark:placeholder-gray-400
          dark:text-white
          dark:focus:ring-primary-500
          dark:focus:border-primary-500
        "
        placeholder="new project name"
      >
    </div>
    <div class="flex flex-row-reverse items-center mt-6">
      <button
        value="cancel"
        class="button button--state-default button--size-default"
      >Cancel</button>
      <button
        value="confirm"
        class="mr-2 button button--state-primary button--size-default"
      >Create</button>
    </div>
  </form>
</div>

<%= button_to "Create project",
"#",
data: {
  turbo_confirm: "",
  turbo_form: ".custom-form"
},
class: "button button--state-primary button--size-default" %>
