<div
  class="
    table-column grow text-sm text-left whitespace-nowrap bg-slate-50 text-slate-500
    dark:text-white
  "
>
  <% if property["cell_type"] == "metadata_cell" %>
    <div
      class="
        sticky top-0 z-10 border table-header dark:border-slate-600 border-slate-100
        dark:bg-slate-700 bg-slate-50
      "
    >
      <%= select_tag :field,
      options_for_select(metadata_fields_for_field(header), header),
      include_blank: !@required_properties.include?(header),
      id: "field-#{header}",
      "aria-label": header,
      class:
        "bg-slate-50 text-slate-900 text-sm border-none focus:ring-primary-500 focus:border-primary-500 block min-w-56 w-full p-2.5 dark:bg-slate-700 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 font-semibold tracking-wider uppercase",
      data: {
        action: "change->nextflow--samplesheet#handleMetadataSelection",
        "metadata-header": header,
      } %>
    </div>
  <% else %>
    <div
      class="
        table-header p-2.5 font-semibold tracking-wider dark:border-slate-600 border
        border-slate-100 sticky top-0 dark:bg-slate-700 bg-slate-50 z-10
      "
    >
      <div class="flex items-center space-x-2 uppercase">
        <%= header %>
        <% if @required_properties.include?(header) %>
          <span class="ml-1 text-red-600 dark:text-red-300">(<%= t(".required") %>)</span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div
    id="<%= "metadata-#{header}-column" %>"
    class="dark:bg-slate-700 bg-slate-50"
  >
  </div>
</div>
