<div
  class="hidden"
  data-controller="nextflow--samplesheet--sample-properties"
  data-nextflow--samplesheet--sample-properties-allowed-to-update-samples-value="<%= @allowed_to_update_samples %>"
  data-nextflow--samplesheet-target="workflowAttributes"
>
  <%= samples_workflow_executions_attributes.to_json %>
</div>
