<div
  class="hidden"
  data-nextflow--deferred-samplesheet-target="sampleAttributes"
  data-allowed-to-update-samples="<%= @allowed_to_update_samples %>"
  data-sample-attributes="<%= samples_workflow_executions_attributes.to_json %>"
>
</div>

<div class="hidden" data-nextflow--deferred-samplesheet-target="fileAttributes">
  <%= @file_attributes.to_json %>
</div>
