<td class="px-6 py-3 text-left whitespace-nowrap sticky left-0 bg-slate-50 dark:border-slate-700 dark:bg-slate-900">
  <%= sample.puid %>
  <%= fields.hidden_field :sample, value: sample.puid %>
</td>
