<div
  class="hidden"
  data-nextflow--prerendered-samplesheet-target="sampleAttributes"
  data-allowed-to-update-samples="<%= @allowed_to_update_samples %>"
  data-sample-attributes="<%= samples_workflow_executions_attributes.to_json %>"
>
</div>
