<div class="justify-center p-1">
  <table class="min-w-full table-fixed" role="grid" aria-label="<%= t('components.datepicker.aria_label.calendar') %>">
    <thead class="mb-1">
      <tr>
        <% @days_of_the_week.each do |day| %>
          <th scope="col" class="dow h-6 text-center text-sm font-medium text-slate-500 dark:text-slate-400">
            <%= day %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody data-datepicker--calendar-target="calendar"></tbody>
  </table>
</div>

<template data-datepicker--calendar-target="inMonthDateTemplate">
  <td
    class="
      w-8 cursor-pointer rounded-lg border-0 text-center text-sm leading-9 font-semibold text-slate-900
      hover:bg-slate-100 dark:text-white dark:hover:bg-slate-600
    "
    data-date-within-month-position="inMonth"
    data-action="
      keydown->datepicker--calendar#navigateCalendar
      click->datepicker--calendar#selectDate
    "
  ></td>
</template>

<template data-datepicker--calendar-target="outOfMonthDateTemplate">
  <td
    class="
      w-8 cursor-pointer rounded-lg border-0 text-center text-sm leading-9 font-semibold text-slate-500
      hover:bg-slate-100 dark:text-slate-300 dark:hover:bg-slate-600
    "
    data-date-within-month-position="outOfMonth"
    data-action="
      keydown->datepicker--calendar#navigateCalendar
      click->datepicker--calendar#selectDate
    "
  ></td>
</template>
