<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <h1>Dashboard</h1>
  <p>Find me in app/views/dashboard/index.html.erb</p>
<% else %>
<%= link_to "sign in", new_user_session_path %>
<% end %>
