<div
  role="status"
  class="
    max-w-md p-4 space-y-4 divide-y divide-slate-200 rounded animate-pulse
    dark:divide-slate-700 md:p-6 dark:border-slate-700
  "
>
  <ol class=" relative border-s border-slate-200 dark:border-slate-700 ">
    <% 10.times do |index| %>
      <li class="mb-10 ms-4">
        <div
          class="
            absolute w-3 h-3 bg-slate-200 rounded-full mt-1.5 -start-1.5 border border-white
            dark:border-slate-700 dark:bg-slate-700
          "
        ></div>
        <div class="h-2.5 bg-slate-200 rounded-full dark:bg-slate-600 w-24 mb-2.5"></div>
        <div class="h-4 w-14 bg-slate-200 rounded-full dark:bg-slate-700 mb-2.5"></div>
        <div class="h-2.5 bg-slate-200 rounded-full dark:bg-slate-700 w-30 mb-2.5"></div>
      </li>
    <% end %>
  </ol>
</div>
