<ul class="space-y-4 list-inside list-none mt-2 animate-pulse">
  <% 3.times do %>
    <li>
      <div class="flex mt-4 bg-slate-200 w-40 rounded-sm">
        <span class="ml-2 h-2 bg-slate-200 rounded-sm"></span>
      </div>
      <ul class="ps-5 space-y-1 list-none list-inside">
        <li>
          <div class="flex mt-8 bg-slate-200 w-40 rounded-sm">
            <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
          </div>
          <ul class="ps-5 space-y-1 list-none list-inside">
            <li>
              <div class="flex mt-8 bg-slate-200 w-40 rounded-sm">
                <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
              </div>
              <ul class="ps-5 space-y-1 list-none list-inside">
                <li>
                  <div class="flex mt-4 bg-slate-200 w-40 rounded-sm">
                    <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
                  </div>
                </li>
                <li>
                  <div class="flex mt-4 mb-8 bg-slate-200 w-40 rounded-sm">
                    <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
                  </div>
                </li>
              </ul>
              <div class="flex mt-8 bg-slate-200 w-40 rounded-sm">
                <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
              </div>
              <ul class="ps-5 space-y-1 list-none list-inside">
                <li>
                  <div class="flex mt-4 mb-8 bg-slate-200 w-40 rounded-sm">
                    <span class="ml-2 h-2 bg-slate-200 w-40 rounded-sm"></span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
