<div role="status" class="max-w-sm animate-pulse">
  <% 4.times do %>
    <div class="py-1">
      <div class="h-4 bg-gray-200 rounded w-1/2 mb-2"></div>
      <div class="h-3 bg-gray-200 rounded w-2/3"></div>
    </div>
  <% end %>
  <span class="sr-only"><%= t(:".loading") %></span>
</div>
