<table class="min-w-full table-fixed dark:divide-slate-600">
  <tbody
    class="
      bg-white divide-y divide-slate-200 dark:bg-slate-800 dark:divide-slate-700
    "
  >
    <% 10.times do %>
      <tr>
        <td class="p-4 animate-pulse">
          <div class="flex-1 py-1 space-y-6">
            <div class="space-y-3">
              <div class="w-48 h-2 rounded-sm bg-slate-200"></div>
              <div class="w-32 h-2 rounded-sm bg-slate-200"></div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
