<div>
  <%= t(
    "activity.group.create",
    user: activity.owner.email,
    name:
      (
        if !activity.trackable.nil?
          activity.trackable.name
        else
          activity.parameters["name"]
        end
      )
  ) %>
</div>
