<div class="form-field <%= 'invalid' unless error.nil? %>">
  <%= form_with(model: member, url: group_member_path(namespace, member), method: :patch) do |form| %>
    <%= combobox_datepicker(
                    id: "member-#{member.id}-expiration",
                    input_name: "member[expires_at]",
                    selected_date: member.expires_at,
                    autosubmit: true,
                    input_aria_label: t("members.table_component.aria_labels.expires_at"),
                    errored: error.present?
                  ) %>
  <% end %>

  <% unless error.nil? %>
    <%= render "shared/form/field_errors",
      id: "member-#{member.id}-expiration_error",
      errors: error %>
  <% end %>
</div>
