<div class="flex flex-col gap-2 mt-2">
  <% if @has_members %>
    <div class="flex justify-end mb-2">
      <%= render SearchComponent.new(
        query: @q,
        url: group_members_url(**request.query_parameters),
        search_attribute: :user_email_cont,
        label: t('common.controls.search'),
        placeholder: t("groups.members.member_listing.search.placeholder"),
        value: @q.user_email_cont,
        class: "max-sm:grow",
        total_count: @pagy.count,
        as: :members_q
      ) do %>
        <input type="hidden" name="format" value="turbo_stream">
      <% end %>
    </div>
  <% end %>

  <%= render Members::TableComponent.new(
    @namespace,
    @members,
    @access_levels,
    @q,
    @has_members,
    current_user,
    {
      update_member: @allowed_to[:update_member],
      destroy_member: @allowed_to[:destroy_member],
    },
  ) %>
</div>
