<li>
  <a href="<%= link %>" data-turbo-action="replace" class="flex items-center p-1 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 <%= class_names('bg-gray-200 font-medium': current_page?(link)) %>">
    <%= render icon, class_names: "flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" %>
    <span class="ml-3"><%= text %></span>
  </a>
</li>
