<div class="flex items-center">
  <%= container.check_box name, { include_hidden: false, checked: }, value %>
  <%= container.label name,
                  label,
                  class:
                    "ml-2 text-sm font-medium text-slate-900 dark:text-slate-300" %>
</div>
