<%= render Viral::BaseComponent.new(**system_arguments) do %>
  <%- if icon.present? %>
    <%= pathogen_icon(icon, size: :sm, color: :danger, class: "mr-1.5") %>
    <span class="grow"><%= content %></span>
  <% end %>
<% end %>
