<div>
  <label
    for="countries"
    class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"
  ><%= label %></label>
  <%= render Viral::BaseComponent.new(**system_arguments) do %>
    <% unless selected_value.present? %>
      <%= render Viral::Form::Select::OptionComponent.new(
        option: {
          value: -1,
          label: "Please select an option"
        },
        selected_value: -1
      ) %>
    <% end %>
    <%= render Viral::Form::Select::OptionComponent.with_collection(
      options,
      selected_value:
    ) %>
  <% end %>
</div>
