<%= render layout: "mailers/email_template",
locals: {
  name: @member.user.first_name.capitalize,
  url: nil,
} do %>
  <tr>
    <td style="padding:12px 24px;">
      <span style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.member_mailer.access_revoked_user_email.body_html",
          type: @namespace.type,
          name: @namespace.name,
        ) %>
      </span>
    </td>
  </tr>
<% end %>
