<a href="<%= @url %>" title="<%= @label %>" class="sidebar-header">
  <div class="flex justify-center" style="width: 27px;">
    <%= render Viral::IconComponent.new(name: @icon, classes: "w-6 h-6") %>
  </div>
  <h2
    data-layout--layout-component-target="link"
    class="ml-2 font-semibold text-gray-900 dark:text-white"
    style=" white-space: nowrap"
  >
    <%= @label %>
  </h2>
</a>
