<a
  href="<%= url %>"
  title="<%= label %>"
  class="
    flex
    items-center
    p-1
    text-base
    font-normal
    text-slate-900
    rounded-lg
    dark:text-white
    hover:bg-slate-100
    dark:hover:bg-slate-700
  "
>
  <div class="flex justify-center" style="width: 27px;">
    <%= viral_icon(name: icon, classes: "w-6 h-6") %>
  </div>
  <h2
    data-layout-target="link"
    class="ml-2 font-semibold text-slate-900 dark:text-white"
    style=" white-space: nowrap"
  >
    <%= label %>
  </h2>
</a>
