<div class="px-2 mb-2" data-testid="sidebar-header-root">
  <div class="pt-2 text-base font-semibold text-slate-900 dark:text-white">
    <%= label %>
  </div>

  <% if item.present? %>
    <div class="mt-1 flex items-center py-1 pr-1 min-h-[44px]">
      <span
        class="
          w-8 h-8 flex items-center justify-center rounded-full mr-2 bg-slate-100
          dark:bg-slate-800
        "
      >
        <%= viral_avatar(
          name: item.name,
          colour_string: "#{item.name}-#{item.id}",
          size: :xs,
        ) %>
      </span>
      <span class="ml-1 text-sm text-slate-700 dark:text-slate-200">
        <%= item.name %>
      </span>
    </div>
  <% end %>
</div>
