<ul class="px-1 Layout-Sidebar__Section">
  <% if items.present? %>
    <% if title.present? %>
      <li class="sidebar-section-title" aria-hidden="true"><%= title %></li>
    <% end %>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  <% else %>
    <%= content %>
  <% end %>

  <% if multi_level_menus.present? %>
    <% multi_level_menus.each do |multi_level_menu| %>
      <%= multi_level_menu %>
    <% end %>
  <% end %>
</ul>
