<%= render Viral::PageHeaderComponent.new(title: t(:'workflow_executions.samples.title')) %>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Sample
      </th>
      <th scope="col" class="px-6 py-3">
        File
      </th>
      <th scope="col" class="px-6 py-3">
        File
      </th>
    </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= sample[:sample].name %></th>
        <% sample[:files].each do |file| %>
          <td class="px-6 py-4">
            <%= file.filename %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>