<% t("projects.edit.advanced.transfer.descriptions").each do |description| %>
  <p class="mb-2 text-base text-gray-900 dark:text-white"><%= description %></p>
<% end %>
<ul
  class="
    mb-4
    ml-4
    space-y-1
    text-gray-500
    list-disc
    list-inside
    dark:text-gray-400
  "
>

  <% t("projects.edit.advanced.transfer.points").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<%= turbo_frame_tag("edit_advanced_transfer") do %>
  <%= render "projects/transfer/form", project: @project %>
<% end %>
