<h1>Tooltip Debug Test</h1>

<p>This is a simple test page to verify tooltips are working.</p>

<div style="padding: 200px;">
  <%= render Pathogen::Link.new(href: "#") do |link| %>
    <% link.with_tooltip(text: "This is a test tooltip", placement: :top) %>
    Hover or focus me (top)
  <% end %>
</div>

<div style="padding: 200px;">
  <%= render Pathogen::Link.new(href: "#") do |link| %>
    <% link.with_tooltip(text: "This tooltip is on the bottom", placement: :bottom) %>
    Hover or focus me (bottom)
  <% end %>
</div>

<script>
  // Debug: Check if Stimulus is loaded
  console.log("Stimulus application:", window.Stimulus || "Not found");

  // Debug: List all registered controllers
  if (window.Stimulus) {
    console.log("Registered controllers:", Object.keys(window.Stimulus.router.modulesByIdentifier));
  }
</script>
