<div
  class="grid gap-4"
  data-controller="integration-action"
>
    <%= viral_card(
        title: "Authorization Page",
        subtitle: "This page generates a single use token for another application to access your IRIDA Next data.") do %>
    <% end %>

    <div class="inline-flex rounded-lg" role="group">
        <button
        type="button"
        class="button button-primary"
        aria-label="<%= "Authorize BDIP Sheets Access" %>"
        data-action="integration-action#authorize">
        <%= "Authorize BDIP Sheets Access" %>
        </button>
    </div>
</div>
