<div class="grid gap-4">
    <%= viral_card(
        title: "Authorization Page",
        subtitle: "This page generates a single use token for another application to access your IRIDA Next data.") do %>
    <% end %>

    <div class="inline-flex rounded-lg" role="group">
        <button
        type="button"
        class="button button-primary"
        aria-label="<%= "Authorize BDIP Sheets Access" %>"
        onclick="bdip_function()">
        <%= "Authorize BDIP Sheets Access" %>
        </button>
    </div>
</div>

<script>
  function bdip_function(){
    <% "Authorize BDIP Sheets Access" %>

    console.log("sending token")
    window.opener.postMessage("this is my dummy token:", 'http:localhost:8081')
    window.close()
  };
</script>

        <%# onclick="bdip_function(<% @personal_access_token.token %>)"> %>
