<%= render layout: "mailers/email_template",
locals: {
  url:
    (
      if @namespace.type == "Group"
        group_members_url(@namespace)
      else
        namespace_project_members_url(@namespace.parent, @namespace.project)
      end
    ),
} do %>
  <tr>
    <td style="padding:0px 24px;">
      <p style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.group_link_mailer.access_granted_manager_email.body_html",
          group_name: @group.name,
          namespace_type: @namespace.type,
          namespace_name: @namespace.name,
        ) %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding:0px 24px;">
      <p style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.group_link_mailer.access_granted_manager_email.view_details",
          group_name: @group.name,
          namespace_type: @namespace.type,
          namespace_name: @namespace.name,
        ) %>
      </p>
    </td>
  </tr>
<% end %>
