<%= render layout: "mailers/email_template", locals: { url: nil } do %>
  <tr>
    <td style="padding:0px 24px;">
      <p style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.group_link_mailer.access_revoked_user_email.body_html",
          group_name: @group.name,
          namespace_type: @namespace.type,
          namespace_name: @namespace.name,
        ) %>
      </p>
    </td>
  </tr>
<% end %>
