<%= render Viral::BaseComponent.new(tag: "div", **system_arguments) do %>
  <h1 class="text-xl font-semibold text-slate-900 dark:text-white">
    <%= title %>
  </h1>
  <%- if closable %>
    <button
      type="button"
      class="
        text-slate-400
        bg-transparent
        hover:bg-slate-200
        hover:text-slate-900
        rounded-lg
        text-sm
        p-1.5
        ml-auto
        inline-flex
        items-center
        dark:hover:bg-slate-600
        dark:hover:text-white
        focus:outline-none
        focus:ring-4
        focus:ring-slate-200
        dark:focus:ring-slate-700
      "
      data-action="click->viral--dialog#close"
      aria-label="<%= t(:"components.dialog.close") %>"
    >
      <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
    </button>
  <% end %>
<% end %>
