<%= render Viral::BaseComponent.new(tag: "div", classes: "dialog--header flex
          flex-shrink-0
          items-center
          justify-between
          rounded-t-md
          border-b-2
          border-neutral-100
          p-4
          dark:border-white/10") do %>
  <h1 class="text-xl font-semibold text-slate-900 dark:text-white">
    <%= title %>
  </h1>
  <%- if closable %>
    <button
      type="button"
      class="
        dialog--close
        box-content
        rounded-none
        border-none
        text-neutral-500
        hover:text-neutral-800
        hover:no-underline
        focus:text-neutral-800
        focus:opacity-100
        focus:shadow-none
        focus:outline-none
        dark:text-neutral-400
        dark:hover:text-neutral-300
        dark:focus:text-neutral-300
      "
      data-action="click->viral--dialog#close"
      aria-label="<%= t(:"components.dialog.close") %>"
    >
      <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
    </button>
  <% end %>
<% end %>
