<h2 class="text-lg font-bold text-red-600">Background Colours</h2>

<table
  class="
    w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
  "
>
  <thead
    class="
      text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
    "
  >
    <tr>
      <th class="px-6 py-3">Colour</th>
      <th class="px-6 py-3">Class</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div class="bg-light-brand-primary dark:bg-dark-brand-primary h-6 w-6"></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-brand-primary dark:bg-dark-brand-primary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover h-6 w-6
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover
      </td>
    </tr>
  </tbody>
</table>
