<div>
  <ol
    id="activities"
    class="relative border-s border-slate-200 dark:border-slate-700"
  >
    <% activities.each do |activity| %>
      <%= render Activities::ListItemComponent.new(activity: activity) %>
    <% end %>
  </ol>

  <div id="next_link">
    <% if @pagy.next.present? %>
      <%= button_to t(:"components.activity.load_more"),
      helpers.pagy_url_for(@pagy, @pagy.next),
      class: "bg-slate-50 border border-slate-300 cursor-pointer dark:bg-slate-900 dark:border-slate-700 dark:hover:bg-slate-800 dark:hover:text-white dark:text-slate-50 font-semibold hover:bg-slate-100 hover:text-slate-950 inline-flex items-center justify-center min-h-11 min-w-11 px-5 py-2.5 rounded-lg sm:w-auto text-slate-900 text-sm" %>
    <% end %>
  </div>
</div>
