<div class="flex items-center" data-controller="clipboard">
  <span>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <%= value %>
    <% end %>
  </span>
  <%= render Pathogen::Button.new(
    scheme: :ghost,
    data: { action: 'click->clipboard#copy' },
    'data-clipboard-target': 'button',
    title: t('components.clipboard.title'),
    'aria-label': t('components.clipboard.title'),
    value: value
  ) do |c| %>
    <% c.with_leading_visual_icon(icon: :clipboard) %>
  <% end %>
  <div
    data-clipboard-target="content"
    role="tooltip"
    class="
      absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
      transition-opacity bg-green-600 rounded-lg shadow-sm opacity-80 duration-600
      tooltip dark:bg-green-700
    "
  >
    <%= t("components.clipboard.copied") %>
  </div>
</div>
