<dialog id="turbo-confirm" aria-labelledby="confirm--title">
  <div class="dialog--header">
    <h3 id="confirm--title" class="dialog--title">Confirmation required</h3>
  </div>
  <div class="dialog--section">
    <div class="dialog--content">
      <p class="text-base text-gray-900 dark:text-white">Are you sure?</p>
    </div>
    <div class="dialog--form">
      <form method="dialog">
        <div class="flex flex-row-reverse items-center mt-6">
          <button
            class="button button--state-destructive button--size-default"
            value="confirm"
          >Confirm</button>
          <button
            class="mr-2 button button--state-default button--size-default"
            value="cancel"
          >Cancel</button>
        </div>
      </form>
    </div>
  </div>
</dialog>
