<div id="toast-simple" class="flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-red-900 divide-x divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
  <%= render @icon, class_names: "h-5 w-5 mr-2" %>
  <div class="pl-4 text-sm font-normal"><%= content %> WTF!!</div>
</div>
