<% if atomic %>
  <span
    role="status"
    aria-live="<%= politeness %>"
    aria-atomic="true"
    class="sr-only"
    data-announcement-target="region"
  ></span>
<% else %>
  <span
    role="status"
    aria-live="<%= politeness %>"
    class="sr-only"
    data-announcement-target="region"
  ></span>
<% end %>
