<div class=" w-full border-t border-slate-200 dark:border-slate-700">
  <div class="flex items-center justify-center space-x-4 mt-6">
    <% if prev_url %>
      <%= link_to t("components.pagination.previous"),
                  prev_url,
                  **link_arguments,
                  class: "button button--state-default button--size-default" %>
    <% end %>
    <% if next_url %>
      <%= link_to t("components.pagination.next"),
                  next_url,
                  **link_arguments,
                  class: "button button--state-default button--size-default" %>
    <% end %>
  </div>
  <p class="text-center m-4 text-slate-500"><%== info %></p>
</div>
