<section
  class="
    flex
    items-center
    bg-white
    dark:bg-gray-900
    border-y
    border-gray-200
    dark:border-gray-700
  "
>
  <div class="w-full px-4 mx-auto lg:px-7">
    <nav
      class="
        flex
        flex-col
        items-start
        justify-between
        p-4
        space-y-3
        md:flex-row
        md:items-center
        md:space-y-0
      "
      aria-label="Table navigation"
    >
      <%== pagy_info(results) %>
      <%== pagy_nav(results) if results.pages > 1 %>
    </nav>
  </div>
</section>
