<%= render Viral::BaseComponent.new(tag: 'a', href: url, classes: class_names('inline-flex items-center'), **system_arguments) do %>
  <%= label %>

  <% unless icon.blank? %>
    <span class="grow-0 ml-2 flex items-center">
      <%= pathogen_icon(icon, size: :sm) %>
    </span>
  <% end %>
<% end %>
