<%= render Viral::BaseComponent.new(tag: 'a', href: url, classes: class_names('inline-flex items-center'), **system_arguments) do %>
  <%= label %>

  <% unless sort_icon.blank? %>
    <span class="ml-2 flex grow-0 items-center"><%= icon(sort_icon, size: :sm) %></span>
  <% end %>
<% end %>
