<div
  <% if id %>
    id="<%= id %>"
  <% else %>
    data-test-selector="spinner"
  <% end %>
  class="
    absolute top-2/4 left-1/2 z-50 grid h-full w-full -translate-x-1/2 -translate-y-1/2 place-items-center
    backdrop-blur-xs
  "
>
  <div class="grid place-items-start">
    <div
      class="
        flex w-full max-w-xs items-center space-x-2 rounded-lg bg-white p-4 text-gray-500 shadow-sm
        rtl:space-x-reverse rtl:divide-x-reverse dark:divide-gray-700 dark:bg-gray-800 dark:text-gray-400
      "
      role="alert"
    >
      <%= icon :faded_spinner, library: "animated", color: :primary %>

      <span
        <% if id %>
          id="<%= id %>-message"
        <% end %>
        class="text-sm font-normal"
      >
        <%= message %>
      </span>
    </div>
  </div>
</div>
