<div
  <% if id %>
  id="<%= id %>"
  <% else %>
  data-test-selector="spinner"
  <% end %>
  class="
    absolute z-50 grid w-full h-full -translate-x-1/2 -translate-y-1/2
    backdrop-blur-xs top-2/4 left-1/2 place-items-center
  "
>
  <div class="grid place-items-start">
    <div
      class="
        flex items-center w-full max-w-xs p-4 space-x-2 text-gray-500 bg-white
        rounded-lg shadow-sm rtl:space-x-reverse rtl:divide-x-reverse dark:text-gray-400
        dark:divide-gray-700 dark:bg-gray-800
      "
      role="alert"
    >
      <%= pathogen_icon(ICON::LOADING, color: :primary) %>
      <span
        <% if id %> id="<%= id %>-message"
        <% end %> class="text-sm font-normal"><%= message %></span>
    </div>
  </div>
</div>
