<button
  type="submit"
  name="q[s]"
  value="<%= value %>"
  data-turbo-stream="true"
  class="flex items-center"
>
  <%= label %>
  <span class="flex items-center flex-grow-0 ml-2"><%= viral_icon(name: icon, classes: "w-4 h-4 inline-block") %></span>
</button>
