<a href="<%= url %>" type="button" data-turbo-stream="true" class="flex items-center">
  <%= label %>
  <span class="flex-grow-0 ml-2 flex items-center"><%= viral_icon(name: icon, classes: "w-4 h-4 inline-block") %></span>
</a>