<div class="flex justify-end mb-2">
  <% if Flipper.enabled?(:workflow_execution_attachments_searching) %>
    <%= render SearchComponent.new(
              query: @q,
              search_attribute: :puid_or_file_blob_filename_cont,
              label: t('common.controls.search'),
              placeholder: t(".search.placeholder"),
              url: workflow_execution_path(@workflow_execution),
              total_count: @pagy.count,
              value: @q.puid_or_file_blob_filename_cont,
              class: "max-sm:grow",
              html: {
                "data-turbo-action": "replace",
              }
            ) do %>
      <%= hidden_field_tag :limit, @pagy.limit %>
      <%= hidden_field_tag :tab, @tab %>
    <% end %>
  <% end %>
</div>

<%= render Attachments::TableComponent.new(
  @attachments,
  @pagy,
  @q,
  @workflow_execution,
  true,
  @has_attachments,
  abilities: {
  },
  row_actions: {
    preview: Flipper.enabled?(:attachments_preview),
  },
  empty: {
    icon_name: Attachment.icon,
    title: t(".empty.title"),
    description: t(".empty.description"),
  },
) %>
