<% invalid_access_level = member.errors.include?(:access_level) %>
<div class="form-field <%= 'invalid' if invalid_access_level %>">
  <%= form_with(model: member, url: namespace_project_member_path(namespace.parent, namespace.project, id: member.id), method: :patch) do |form| %>
    <%= form.select(
      :access_level,
      access_levels,
      {},
      {
        id: "member-#{member.id}-access-level-select",
        value: member.access_level,
        onchange: "this.form.requestSubmit();",
        "aria-label": t(".aria_label"),
      },
    ) %>
    <input type="hidden" name="format" value="turbo_stream"/>
  <% end %>
</div>
