<div class="flex flex-col gap-2 mt-2">
  <div class="flex justify-end mb-2">
    <%= render SearchComponent.new(
              query: @q,
              url: namespace_project_members_url(**request.query_parameters),
              search_attribute: :user_email_cont,
              label: t(".search.label"),
              placeholder: t(".search.placeholder"),
              value: @q.user_email_cont,
              total_count: @pagy.count,
              class: "max-sm:grow",
            ) do %>
      <input type="hidden" name="tab" value=""/>
      <input type="hidden" name="format" value="turbo_stream"/>
    <% end %>
  </div>
  <%= render Members::TableComponent.new(
    @namespace,
    @members,
    @access_levels,
    @q,
    current_user,
    {
      update_member: @allowed_to[:update_member],
      destroy_member: @allowed_to[:destroy_member],
    },
  ) %>
</div>
