<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <div class="grid gap-4">
    <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400 ">
      <%= t(".description") %>
    </p>
    <!--form_for(:deletion-->
    <%= form_for(:destroy, url: workflow_execution_path(@workflow_execution), method: :delete,
        data: {
            controller: "delete",
            "delete-selection-outlet": '#workflow-executions-table',
            "delete-id-value": @workflow_execution.id,
          }
        ) do |form| %>
      <div class="grid gap-4">
        <div>
          <div>
            <%= form.submit t(".submit_button"),
                        class:
                          "button text-sm px-5 py-2.5 text-white bg-red-700 border-red-800 hover:bg-red-800 dark:bg-red-600 dark:text-white dark:border-red-600 dark:hover:bg-red-700",
                        data: {
                          turbo_frame: "_top",
                          action: "click->delete#removeItemFromSelection",
                        } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
