<div class="py-1">
  <div class="font-semibold text-gray-900 dark:text-white"><%= workflow_execution.id %></div>
  <div class="font-normal text-gray-500 dark:text-gray-400"><%= workflow_execution.id %></div>
</div>
