<div class="flex flex-col gap-2 mt-2">
  <div class="flex">
    <div class="flex-1"></div>
    <div class="grow-0">
      <%= render SearchComponent.new(
      query: @q,
      url: group_group_links_url(**request.query_parameters),
      search_attribute: :group_name_cont,
      placeholder: t("groups.members.index.search.groups.placeholder"),
    ) do %>
        <input type="hidden" name="format" value="turbo_stream"/>
      <% end %>
    </div>
  </div>

  <%= render Groups::TableComponent.new(
    @namespace_group_links,
    @namespace,
    @access_levels,
    @q,
    abilities: {
      update_namespace: @allowed_to[:update_namespace_with_group_link],
      unlink_group: @allowed_to[:unlink_group],
    },
  ) %>
</div>
