<div class=" flex p-4 mb-4 border-l-4 <%= classes %> " role="alert">
  <span class="flex-shrink-0">
    <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 stroke-2") %>
  </span>
  <div class="ml-3 text-sm font-medium">
    <%= message %>
  </div>
</div>
