<%= render Viral::BaseComponent.new(tag: "div", **system_arguments) do %>
  <span class="flex-shrink-0 inline">
    <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 mr-3 stroke-2") %>
  </span>
  <div>
    <% if message.present? %>
      <div class="font-medium"><%= message %></div>
    <% end %>
    <% if content.present? %>
      <%= content %>
    <% end %>
  </div>
<% end %>
