<div class="p-4 mb-4 border-l-4 <%= classes %> " role="alert">
  <div class="flex">
    <span class="flex-shrink-0">
      <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 stroke-2") %>
    </span>
    <div class="ml-3 font-medium">
      <%= message %>
    </div>
  </div>
  <div class="ml-8">
    <%= content %>
  </div>
</div>
