<% if label[:type] == 'direction' %>
<td class="px-6 py-4">
<% if label[:label] == 'forward' %>
          <%= viral_icon(name: :arrow_right, classes: "h-3 w-3") %>
<% elsif label[:label] == 'reverse' %>
    <%= viral_icon(name: :arrow_left, classes: "h-3 w-3") %>
<% end %>
</td>

<% elsif label[:type] == 'format' || label[:type] == 'type' %>
<td class="px-6 py-4" <% if label[:span] %> rowspan=2 <% end %>><%= label[:label] %></td>
<% end %>
