<% if label[:label_type] == 'direction' %>
    <% if label[:label] == 'forward' %>
        <%= viral_icon(name: :arrow_right, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
    <% elsif label[:label] == 'reverse' %>
        <%= viral_icon(name: :arrow_left, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
    <% end %>

<% elsif label[:label_type] == 'format' || label[:label_type] == 'type' %>
    <div class="<%= label[:color] %>"><%= label[:label] %></div>
<% end %>
