<ol
  aria-label="Breadcrumb"
  class="inline-flex items-center space-x-1 md:space-x-3"
  style="height: 50px"
>
  <div class="@max-md/nav:visible @md/nav:hidden flex items-center">
    <button>
      <%= viral_icon(name: "ellipsis_horizontal", classes: "w-6 h-6") %>
    </button>
  </div>

  <% links.each_with_index do |link, index| %>
    <li class="inline-flex items-center">
      <div class="@max-md/nav:hidden @md/nav:visible flex items-center">
        <% if index > 0 %>
          <%= viral_icon(name: "chevron_right", classes: "w-3 h-3 text-slate-300") %>
        <% end %>
        <% if index < links.length - 1 %>
          <%= link_to link[:name],
          URI.join(root_url, link[:path]).to_s,
          data: {
            turbo_frame: "_top",
          },
          class:
            "ml-1 text-sm font-normal text-slate-500 md:ml-2 dark:text-slate-400 hover:underline" %>
        <% else %>
          <%= link_to link[:name],
          URI.join(root_url, link[:path]).to_s,
          data: {
            turbo_frame: "_top",
          },
          class:
            "ml-1 text-sm font-medium text-slate-600 md:ml-2 dark:text-slate-400 hover:underline" %>
        <% end %>

      </div>
    </li>
  <% end %>
</ol>
