<div
  class="
    justify-between
    w-full
    mb-4
    page-header
    sm:flex
  "
>
  <div class="flex items-start">
    <% if icon.present? %>
      <span class="mr-2"><%= icon %></span>
    <% end %>

    <div>
      <h1 class="text-2xl font-medium leading-tight text-gray-900 dark:text-white"><%= title %></h1>
      <% if subtitle != nil %>
        <p class="text-gray-500 dark:text-gray-400"><%= subtitle %></p>
      <% end %>
    </div>
  </div>
  <div class="flex ml-auto space-x-2 whitespace-nowrap sm:space-x-3">
    <div class="flex-none"><%= buttons %></div>
  </div>
</div>
