<%= render(Viral::BaseComponent.new(tag: 'div', **system_arguments)) do %>
  <div class="mb-2 text-sm font-medium text-gray-900">
    <% if text.present? %>
      <%= text %>
    <% else %>
      <%= content %>
    <% end %>
  </div>
  <!-- Flowbite Progress Bar Component -->
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
  </div>
<% end %>
