<div>
  <div class="flex justify-between block text-sm font-medium text-slate-900 dark:text-white">
    <%= title %>
  </div>
  <div class="text-sm font-medium text-base leading-relaxed text-slate-500 dark:text-slate-400">
    <%= description %>
  </div>
</div>
<div class="flex">
  <% lists.each do |list| %>
    <%= list %>
  <% end %>
</div>
