<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="myTab"
    data-tabs-toggle="#myTabContent"
    role="tablist"
  >
    <% tab.each do %>
      <li class="mr-2" role="presentation">
        <%= tab %>
      </li>
    <% end %>
  </ul>
</div>
