<div
  class="
    text-sm
    font-medium
    text-center
    text-gray-500
    border-b
    border-gray-200
    dark:text-gray-400
    dark:border-gray-700
  "
>
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    role="tablist"
    aria-controls="<%= id %>"
  >
    <% tabs.each do |tab| %>
      <li class="mr-2" role="presentation">
        <%= tab %>
      </li>
    <% end %>
  </ul>
</div>
<div role="region" id="<%= id %>" aria-live="polite">
  <%= tab_content %>
</div>
