<span data-controller="viral--tooltip">
  <span data-viral--tooltip-target="trigger">
    <%= content %>
  </span>

  <div
    data-viral--tooltip-target="target"
    role="tooltip"
    class="
      absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
      bg-slate-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-slate-700
    "
  >
    <%= title %>
    <div class="tooltip-arrow" data-popper-arrow=""></div>
  </div>
</span>
