<div data-controller="selection">
  <input
    type="checkbox"
    id="item1"
    name="item1"
    value="item1"
    data-action="input->selection#toggle"
    data-selection-target="rowSelection"
  />
  <label for="item1">Item1</label>
</div>
