<table data-controller="selection">
  <tbody>
    <tr>
      <td>
        <input
          type="checkbox"
          id="row1"
          name="row1"
          value="row1"
          data-action="input->selection#toggle"
          data-selection-target="rowSelection"
        >
      </td>
      <td>Row 1</td>
    </tr>
  </tbody>
</table>
