<table data-controller="selection">
  <tbody>
    <% (0...3).each do |index| %>
      <tr>
        <td>
          <input
            type="checkbox"
            id="row<%=index%>"
            name="row<%=index%>"
            value="row<%=index%>"
            data-action="input->selection#toggle"
            data-selection-target="rowSelection"
          >
        </td>
        <td><%= "Row#{index}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
