<div class="text-center">
  <%= viral_icon(name: "check_circle_solid", classes: "w-16 h-16 text-green-200") %>
  <p class="mb-4 text-lg"><%= t(".description") %></p>
  <%= viral_button(state: :primary, data: { action: 'click->viral--dialog#close' }) do %>
    <%= t(".ok_button") %>
  <% end %>
</div>
