<button
  id="app-darkmode-toggle"
  type="button"
  class="navbar-btn"
  data-layout--dark-mode-component-target="themeToggle"
  data-action="click->layout--dark-mode-component#toggleTheme"
  aria-label="<%= t(:'general.navbar.dark_mode.aria_label') %>"
>
  <span data-layout--dark-mode-component-target="darkIcon" class="hidden">
    <%= render IconComponent.new(name: "moon", classes: "w-5 h-5") %>
  </span>
  <span data-layout--dark-mode-component-target="lightIcon" class="hidden">
    <%= render IconComponent.new(name: "sun", classes: "w-5 h-5") %>
  </span>
</button>
