<span>
  <% if template_exists %>
    <% href =  link_to(
            @activity[:template_name],
            group_metadata_templates_path(@activity[:group]),
            class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
          )%>
  <% else %>
    <% href =  link_to(
          @activity[:template_name],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true
        )%>
  <% end %>

  <%= t("#{@activity[:key]}", user: @activity[:user], href: href) %>
</span>
