<span>
  <% if import_samples_action %>
    <%= t(
      "#{@activity[:key]}",
      user: @activity[:user],
      href:
        content_tag(
          :span,
          @activity[:imported_samples_count],
          class: "text-slate-800 dark:text-slate-300 font-medium",
        ),
    ) %>
    <span class="block">
      <%= link_to(
        t(:"components.activity.more_details"),
        activity_path(@activity[:id], dialog_type: "group_import_samples"),
        data: {
          turbo_stream: true,
        },
        class:
          "inline-flex items-center justify-center button button--state-default button--size-small dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600",
      ) %>
    </span>
  <% end %>
</span>
