<section>
  <%= t(
    @activity[:key],
    user: @activity[:user],
    cloned_samples_count: highlighted_text(@activity[:cloned_samples_count]),
  ) %>

  <%= more_details_button(
    "group_sample_clone",
    t("components.activity.samples.clone.more_details.button_descriptive_text"),
  ) %>
</section>
