<section>
  <%= t(
    @activity[:key],
    user: @activity[:user],
    transferred_samples_count:
      highlighted_text(@activity[:transferred_samples_count]),
  ) %>

  <%= more_details_button(
    "group_sample_transfer",
    t(
      "components.activity.samples.transfer.more_details.button_descriptive_text",
    ),
  ) %>

</section>
