<section>
  <%= t(
    @activity[:key],
    user: @activity[:user],
    old_namespace: highlighted_text(@activity[:old_namespace]),
    new_namespace: highlighted_text(@activity[:new_namespace]),
    transferred_group_puid: highlighted_text(@activity[:transferred_group_puid]),
  ) %>
</section>
