<%= viral_card(title: "Card with section actions") do |card| %>
  <% card.with_section(title: "First Section", border_top: true) do |section| %>
    <% section.with_action do %>
      <%= link_to "Delete", "#", class: "text-red-500 dark:text-red-400" %>
    <% end %>
    <p class="text-base text-slate-900 dark:text-white">First Section Content</p>
  <% end %>
<% end %>
