<%= viral_card(title: "Card with multiple titled sections") do |card| %>
  <% card.with_section(title: "First Sections") do %>
    <p class="text-base text-slate-900 dark:text-white">First Section Content</p>
  <% end %>
  <% card.with_section(title: "Second Sections") do %>
    <p class="text-base text-slate-900 dark:text-white">Second Section Content</p>
  <% end %>
  <% card.with_section(title: "Third Sections") do %>
    <p class="text-base text-slate-900 dark:text-white">Third Section Content</p>
  <% end %>
<% end %>