<%= viral_card(title: "Card with multiple sections") do |card| %>
  <% card.with_section(border_bottom: true, border_top: true, title: "Section 1") do %>
    <p class="text-base text-slate-900 dark:text-white">Some content</p>
  <% end %>
  <% card.with_section(title: "Section 2") do %>
    <p class="text-base text-slate-900 dark:text-white">Some content</p>
  <% end %>
<% end %>
