<%= form_with(url: "", data: {controller: "viral--select2"}) do |form| %>
  <div class="flex items-center whitespace-nowrap">
    <%= viral_prefixed_select2(form:, name: :user, selected_value: 1, placeholder: 'Select User') do |select| %>
      <% (1..50).each do |num| %>
        <% select.with_option(
          primary: "User #{num}",
          secondary: "Another fact goes here",
          value: num,
        ) %>
        <%= select.with_empty_state do %>
          No users found
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
