<div class="form-field mt-2">
  <%= form.label :name, t(:"data_exports.new.name_label") %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<div class="flex items-center h-5">
  <%= form.check_box :email_notification,
                  {
                    checked: false,
                    class:
                      "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded
                                                                      focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800
                                                                      focus:ring-2 dark:bg-slate-700 dark:border-slate-600
                                                                      ",
                  },
                  true,
                  false %>
  <%= form.label :email_notification,
              t(:"data_exports.new.email_label"),
              class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
</div>
