<%= form_with(model: @user, url: profile_preferences_path, method: :patch) do |f| %>
  <fieldset>
    <legend
      class="
        mb-2 text-sm font-semibold text-slate-800 dark:text-white uppercase
      "
    >
      <%= t("profiles.preferences.show.locale_title") %>
    </legend>
    <div class="space-y-2">
      <% I18n.available_locales.each do |locale| %>
        <div class="flex items-center">
          <%= f.radio_button :locale,
                         locale,
                         label: t(:"locales.#{locale}", locale: locale),
                         checked: (@user.locale.to_sym == locale),
                         onchange: "this.form.submit()" %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
