<%= form_with(model: @user, url: profile_preferences_path, method: :patch) do |f| %>
  <div class="grid grid-cols-1 gap-4">
    <%- I18n.available_locales.each do |locale| %>
      <div class="flex items-center">
        <%= f.radio_button :locale,
                       locale,
                       checked: (@user.locale.to_sym == locale),
                       class:
                         "w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                       onchange: "this.form.submit()" %>
        <%= f.label t(:".#{locale}"),
                for: "user_locale_#{locale}",
                class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      </div>
    <%- end %>
  </div>
<% end %>
