<%= form_with(model: @user, url: profile_preferences_path, method: :patch) do |f| %>
  <div class="grid grid-cols-1 gap-4">
    <%- I18n.available_locales.each do |locale| %>
      <div class="flex items-center">
        <%= f.radio_button :locale,
                       locale,
                       checked: (@user.locale.to_sym == locale),
                       onchange: "this.form.submit()" %>
        <%= f.label t(:".#{locale}"),
                for: "user_locale_#{locale}",
                class: "ml-2 text-sm font-medium text-slate-900 dark:text-slate-300" %>
      </div>
    <%- end %>
  </div>
<% end %>
