<div class="w-full">
  <div class="pb-4">
    <h2 class="text-xl font-semibold text-red-600">Delete account</h2>
  </div>
  <div>
    <p class="text-base font-normal text-slate-500 md:text-lg dark:text-slate-400">
      <%= t(:"profiles.accounts.delete.description") %>:</p>
    <ul
      class="
        pb-4 space-y-1 text-slate-500 list-disc list-inside dark:text-slate-400
      "
    >
      <% t(:'profiles.accounts.delete.effects').each do |val| %>
        <li><%= val %></li>
      <% end %>
    </ul>
    <%= link_to t(:"profiles.accounts.delete.button"),
    profile_account_path,
    data: {
      turbo_method: :delete,
      turbo_confirm: t(:"profiles.accounts.delete.confirm"),
    },
    class: "button button--state-destructive button--size-default" %>
  </div>
</div>
