<div class="w-full">
    <div class="pb-4">
      <h2 class="text-xl font-semibold text-red-600">Delete account</h2>
    </div>
    <div class="md:col-span-2 col-span-3">
      <p class="text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">Deleting your account has the following effects:</p>
      <ul class="max-w-md space-y-1 text-gray-500 dark:text-gray-400 list-disc list-inside pb-4">
        <li>Project owned by you will no longer be accessible.</li>
        <li>Fill in others...</li>
      </ul>
      <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="btn btn-danger" type="button">
        Delete account
      </button>
      <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
        <div class="relative w-full h-full max-w-4xl md:h-auto">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal">
              <%= render 'icons/x_mark', class_names: "w-5 h-5" %>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6">
              <%= render 'icons/information_circle', class_names: "mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" %>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">You are about to permanently delete
                your
                account, and all of the projects linked to your account. Once you confirm Delete account, it cannot be
                undone
                or recovered.</h3>
              <%= form_with(model: user, url: profile_account_path, method: :delete, data: { turbo: false }) %>
              <div class="flex justify-end ">
                <button data-modal-hide="popup-modal" type="button" class="btn btn-default mr-2">
                  Cancel
                </button>
                <button data-modal-hide="popup-modal" type="submit" class="btn btn-danger">
                  Delete account
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>