<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div class="p-4 bg-white border border-slate-200 rounded-lg shadow-xs 2xl:col-span-2 dark:border-slate-700 sm:p-6 dark:bg-slate-800">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>