<li
  class="namespace-entry <%= @namespace.description.present? ? "has-description" : nil %>"
>
  <div class="flex items-center py-3 pr-3 namespace-entry-contents">
    <span class="flex items-center mr-2 folder-toggle-wrap">
      <%= viral_icon(name: :blank, classes: "h-3 w-3") %>
    </span>
    <%= render NamespaceTree::Row::RowContentsComponent.new(
      namespace: @namespace,
      path: @path,
      path_args: @path_args,
      icon_size: @icon_size,
    ) %>
  </div>
</li>
