<li
  class="namespace-entry <%= @namespace.description.present? ? "has-description" : nil %>"
>
  <div class="namespace-entry-contents py-3 pr-3 flex items-center">
    <span class="folder-toggle-wrap mr-2 flex items-center">
      <%= viral_icon(name: :blank, classes: "h-3 w-3") %>
    </span>
    <%= render NamespaceTree::Row::RowContentsComponent.new(
      namespace: @namespace,
      path: @path,
      path_args: @path_args,
      sample_count: @sample_count,
    ) %>
  </div>
</li>
