<%= form_with(url: "#", data: { controller: "select-with-auto-complete" }) do |form| %>
  <%= render SelectWithAutoCompleteComponent.new(
    label: label,
    combobox_id: combobox_id,
    listbox_id: listbox_id,
  ) do %>
    <ul role="group" aria-labelledby="category1">
      <li role="presentation" id="category1">British Columbia</li>
      <li role="option" id="option1">Victoria</li>
      <li role="option" id="option2">Vancouver</li>
    </ul>
    <ul role="group" aria-labelledby="category2">
      <li role="presentation" id="category2">Alberta</li>
      <li role="option" id="option3">Edmonton</li>
      <li role="option" id="option4">Calgary</li>
    </ul>
    <ul role="group" aria-labelledby="category3">
      <li role="presentation" id="category3">Saskatchewan</li>
      <li role="option" id="option5">Regina</li>
      <li role="option" id="option6">Saskatoon</li>
    </ul>
    <ul role="group" aria-labelledby="category4">
      <li role="presentation" id="category4">Manitoba</li>
      <li role="option" id="option7">Winnipeg</li>
    </ul>
    <ul role="group" aria-labelledby="category5">
      <li role="presentation" id="category5">Ontario</li>
      <li role="option" id="option8">Toronto</li>
    </ul>
    <ul role="group" aria-labelledby="category6">
      <li role="presentation" id="category6">Quebec</li>
      <li role="option" id="option9">Québec City</li>
      <li role="option" id="option10">Montréal</li>
    </ul>
    <ul role="group" aria-labelledby="category7">
      <li role="presentation" id="category7">New Brunswick</li>
      <li role="option" id="option11">Fredericton</li>
      <li role="option" id="option12">Saint John</li>
    </ul>
    <ul role="group" aria-labelledby="category8">
      <li role="presentation" id="category8">Prince Edward Island</li>
      <li role="option" id="option13">Charlottetown</li>
    </ul>
    <ul role="group" aria-labelledby="category9">
      <li role="presentation" id="category9">Nova Scotia</li>
      <li role="option" id="option14">Halifax</li>
    </ul>
    <ul role="group" aria-labelledby="category10">
      <li role="presentation" id="category10">Newfoundland and Labrador</li>
      <li role="option" id="option15">St. John&#39;s</li>
    </ul>
    <ul role="group" aria-labelledby="category11">
      <li role="presentation" id="category11">Yukon</li>
      <li role="option" id="option16">Whitehorse</li>
    </ul>
    <ul role="group" aria-labelledby="category12">
      <li role="presentation" id="category12">Northwest Territories</li>
      <li role="option" id="option17">Yellowknife</li>
    </ul>
    <ul role="group" aria-labelledby="category13">
      <li role="presentation" id="category13">Nunavut</li>
      <li role="option" id="option18">Iqaluit</li>
    </ul>
  <% end %>
<% end %>
