<template data-pathogen--datepicker--input-target="calendarTemplate">
  <%= render Pathogen::BaseComponent.new(**calendar_arguments) do %>
    <div
      class="
        inline-block rounded-lg bg-white dark:bg-slate-700 shadow-sm @max-sm:p-1 @sm:p-4
      "
    >
      <%= render partial: "pathogen/datepicker/calendar/header",
      locals: {
        min_year:,
        months:,
      } %>
      <%= render partial: "pathogen/datepicker/calendar/grid",
      locals: {
        days_of_the_week:,
      } %>
      <%= render partial: "pathogen/datepicker/calendar/footer", locals: { min_date: } %>
    </div>
  <% end %>
</template>
