<%# add a hidden div so we can process min_date in local time with the local_time gem, this is then processed %>
<%# by pathogen--datepicker--input_controller and then removed %>
<div class="hidden" data-pathogen--datepicker--input-target="minDate">
  <%= local_date(min_date, "%Y-%m-%d") %>
</div>
