<div>
  <%= t(
    "activity.sample.attachment_create",
    user: activity.owner.email,
    sample_name:
      (
        if !activity.trackable.nil?
          activity.trackable.name
        else
          activity.parameters["name"]
        end
      ),
    project_name:
      (
        if !activity.trackable.nil?
          activity.trackable.project.name
        else
          activity.parameters["project_name"]
        end
      )
  ) %>
</div>
