<%= render Viral::PageHeaderComponent.new(title: t(:".title")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="px-4">
  <%= turbo_frame_tag "history_modal" %>

  <%= turbo_frame_tag "group_history",
  src: group_history_url(format: :turbo_stream, **request.query_parameters) %>
</div>
