<%= render Viral::TabsComponent.new(id: "demo-tabs") do |tabs| %>
  <%= tabs.with_tab(url: "#", selected: true) do %>
    First tab
  <% end %>
  <%= tabs.with_tab(url: "#") do %>
    Second tab
  <% end %>

  <%= tabs.with_tab_content do %>
    <p class="mt-8 text-gray-500 dark:text-gray-400">Turbo frames go in here</p>
  <% end %>
<% end %>
