<%= render Viral::TabsComponent.new(id: "demo-tabs", label: "Demo tabs") do |tabs| %>
  <%= tabs.with_tab(url: "#", selected: true, controls: "demo-tabs") do %>
    First tab
  <% end %>
  <%= tabs.with_tab(url: "#", controls: "demo-tabs") do %>
    Second tab
  <% end %>

  <%= tabs.with_tab_content do %>
    <p class="mt-8 text-slate-500 dark:text-slate-400">Turbo frames go in here</p>
  <% end %>
<% end %>
