<div style="grid-area: collapse" class="sidebar-collapse">
  <button data-action="click->layout-component--layout-component#toggle">
    <span
      data-layout-component--layout-component-target="iconCollapse"
      class="flex items-center"
    >
      <%= render(IconComponent.new(name: "chevron_double_left")) %>
      <%= t(:"general.collapse_sidebar") %>
    </span>

    <span
      data-layout-component--layout-component-target="iconExpand"
      class="flex items-center"
    >
      <%= render(IconComponent.new(name: "chevron_double_right")) %>
      <span class="sr-only"><%= t(:"general.expand_sidebar") %></span>
    </span>
  </button>
</div>
