<div
  class="
    flex
    font-mono
    bg-slate-50
    border
    border-slate-300
    text-slate-900
    text-sm
    rounded-lg
    focus-within:ring-primary-500
    focus-within:border-primary-500
    w-full
    p-2.5
    dark:bg-slate-700
    dark:border-slate-600
    dark:placeholder-slate-400
    dark:text-white
    dark:focus-within:ring-primary-500
    dark:focus-within:border-primary-500k
  "
  data-filter-list-target="tags"
>
  <input
    type="text"
    class="
      focus:outline-none
      focus:ring-0
      border-none
      bg-transparent
      grow
    "
    autofocus
    data-action='input->filter-list#handleInput'
  />

</div>
