<div
  class="
    block
    font-mono
    p-2.5
    w-full
    text-sm
    text-slate-900
    bg-slate-50
    rounded-lg
    border
    border-slate-300
    focus:ring-primary-500
    focus:border-primary-500
    dark:bg-slate-700
    dark:border-slate-600
    dark:placeholder-slate-400
    dark:text-white
    dark:focus:ring-primary-500
    dark:focus:border-primary-500
  "
  data-filter-list-target="tags"
>
  <input
    type="text"
    class="
      focus:outline-none
      focus:ring-0
      border-none
      bg-transparent
    "
    data-action='input->filter-list#handleInput'
  />

</div>
