<%= turbo_frame_tag "selected" do %>
  <div
    data-controller="table-selection"
    data-table-selection-ids-value="<%= @sample_ids.map(&:to_s).to_json %>"
    data-table-selection-selection-outlet="#samples-table"
  ></div>
<% end %>
