<%= viral_card do |card| %>
  <% card.header(title: t(:"groups.edit.advanced.path.title")) %>
  <% card.section do %>
    <%= form_with(model: @group, url: group_path(@group), method: :patch) do |form| %>
      <div class="grid gap-4">
        <%= render partial: "path_form_fields",
        locals: {
          form: form,
          group: @group,
          authorized_namespaces: @authorized_namespaces
        } %>
        <div>
          <%= form.submit t(:"groups.edit.advanced.path.submit"), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
