<div data-controller="viral--tooltip">
  <%= render(Pathogen::BaseComponent.new(**@system_arguments)) do %>
    <%= content %>
  <% end %>

  <% if tooltip.present? %>
    <%= render tooltip %>
  <% end %>
</div>
