<div
  id="<%= id %>"
  data-pathogen--tooltip-target="target"
  data-placement="<%= placement.to_s %>"
  role="tooltip"
  class="
    fixed z-50 bg-slate-900 dark:bg-slate-700 text-white px-3 py-2 text-sm
    font-medium rounded-lg shadow-sm max-w-xs inline-block opacity-0 scale-90
    invisible transition-all duration-200 ease-out
    <%= origin_class %>
  "
>
  <%= text %>
</div>
