<div class="p-2 bg-white block sm:flex items-center justify-between border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="w-full mb-1">
    <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
      <div class="flex flex-row justify-between">
        <div class="flex items-center">
          <%= render "icons/#{icon}", class_names: "h-14 w-14 text-green-500" %>
          <div class="flex-1 pl-2">
            <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white"><%= title %></h2>
            <% if defined?(subtitle) %>
              <p class="text-sm text-gray-500 dark:text-gray-400 mt-1"><%= subtitle %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% if defined? buttons %>
        <%= render buttons %>
      <% end %>
    </div>
  </div>
</div>