<%= viral_dialog(open: true) do |dialog| %>
  <%= dialog.with_header(title: "This is the default dialog") %>
  <%= dialog.with_section do %>
    <p class="mb-3 text-slate-500 dark:text-slate-400">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Dignissim cras
      tincidunt lobortis feugiat vivamus at augue eget arcu. Tristique senectus
      et netus et malesuada. Orci dapibus ultrices in iaculis nunc. Id porta
      nibh venenatis cras sed felis eget. Sapien eget mi proin sed libero enim
      sed faucibus. Sit amet nisl suscipit adipiscing bibendum est ultricies.
      Nec sagittis aliquam malesuada bibendum. Convallis convallis tellus id
      interdum. Nunc faucibus a pellentesque sit. Nisi vitae suscipit tellus
      mauris a diam maecenas sed enim. Iaculis at erat pellentesque adipiscing.
      Faucibus scelerisque eleifend donec pretium vulputate sapien. Vestibulum
      mattis ullamcorper velit sed ullamcorper morbi. In ante metus dictum at
      tempor commodo ullamcorper.
    </p>
  <% end %>
<% end %>
