<%= viral_dialog(open: true, size: :small, closable: false) do |dialog| %>
  <%= dialog.with_header(title: "This dialog is not closable") %>
  <%= dialog.with_section do %>
    <p class="mb-3 text-gray-500 dark:text-gray-400">
      This dialog is not keyboard closable or closable through a header button.
    </p>
  <% end %>
<% end %>