<%= viral_dialog(open: true, size: :small, closable: false) do |dialog| %>
  <% dialog.with_header(title: "This dialog is not closable") %>
  <div>
    <label
      for="first_name"
      class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"
    >First name</label>
    <input
      type="text"
      id="first_name"
      class="
        bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg block
        w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
        dark:text-white
      "
    />
  </div>
<% end %>
