<div>
  <%= t(
    "activity.namespaces_project_namespace.namespace_group_link_update",
    user: activity.owner.email,
    namespace_name:
      (
        if !activity.trackable.nil?
          activity.trackable.name
        else
          activity.parameters["namespace_name"]
        end
      ),
    namespace_type: activity.parameters["namespace_type"],
    invited_group_name: activity.parameters["invited_group_name"]
  ) %>
</div>
