<div>
  <%= t(
    "activity.namespaces_project_namespace.sample_destroy",
    user: activity.owner.email,
    sample_name: activity.parameters["name"],
    project_name: activity.parameters["project_name"]
  ) %>
</div>
