<template data-datepicker--input-target="calendarTemplate">
  <%= render Viral::BaseComponent.new(**calendar_arguments) do %>
    <div class="inline-block rounded-lg bg-white p-4 shadow-sm max-[384px]:p-1 dark:bg-slate-700">
      <%= render partial: "datepicker/v1/calendar/header",
      locals: {
        min_year:,
        months:,
      } %>

      <%= render partial: "datepicker/v1/calendar/grid",
      locals: {
        days_of_the_week:,
      } %>

      <%= render partial: "datepicker/v1/calendar/footer", locals: { min_date: } %>
    </div>
  <% end %>
</template>
