<div
  class="
    bg-light-default dark:bg-dark-default text-light-default dark:text-dark-default
    grid grid-cols-1 gap-4
  "
>
  <h2 class="text-lg font-bold">Background Colours</h2>

  <table class=" w-full text-sm text-left ">
    <thead
      class="
        text-xs bg-light-neutral-primary uppercase text-light-onneutral-primary
        dark:bg-dark-neutral-primary dark:text-dark-onneutral-primary
      "
    >
      <tr>
        <th class="px-6 py-3">Colour</th>
        <th class="px-6 py-3">Class</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div class="bg-light-brand-primary dark:bg-dark-brand-primary h-6 w-6 rounded"></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-brand-primary dark:bg-dark-brand-primary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-brand-secondary dark:bg-dark-brand-secondary h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-brand-secondary dark:bg-dark-brand-secondary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-neutral-primary dark:bg-dark-neutral-primary h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-neutral-primary dark:bg-dark-neutral-primary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-neutral-primary-hover dark:bg-dark-neutral-primary-hover h-6 w-6
              rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-neutral-primary-hover dark:bg-dark-neutral-primary-hover
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-neutral-secondary dark:bg-dark-neutral-secondary h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-neutral-secondary dark:bg-dark-neutral-secondary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-danger-primary dark:bg-dark-danger-primary h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-danger-primary dark:bg-dark-danger-primary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-danger-primary-hover dark:bg-dark-danger-primary-hover h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-danger-primary-hover dark:bg-dark-danger-primary-hover
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td class="px-6 py-4">
          <div
            class="
              bg-light-danger-secondary dark:bg-dark-danger-secondary h-6 w-6 rounded
            "
          ></div>
        </td>
        <td class="px-6 py-4 font-mono">
          bg-light-danger-secondary dark:bg-dark-danger-secondary
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="text-lg font-bold">Text Colours</h2>

  <table class=" w-full text-sm text-left ">
    <thead
      class="
        text-xs bg-light-neutral-primary uppercase dark:bg-dark-neutral-primary
        text-light-onneutral-primary dark:text-dark-onneutral-primary
      "
    >
      <tr>
        <th class="px-6 py-3">Colour</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td
          class="
            px-6 py-4 text-light-default dark:text-dark-default font-mono bg-light-default
            dark:bg-dark-default
          "
        >
          text-light-default dark:text-dark-default
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td
          class="
            px-6 py-4 text-light-onbrand-primary dark:text-dark-onbrand-primary font-mono
            bg-light-brand-primary dark:bg-dark-brand-primary
          "
        >
          text-light-onbrand-primary dark:text-dark-onbrand-primary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td
          class="
            px-6 py-4 text-light-onneutral-primary dark:text-dark-onneutral-primary
            font-mono bg-light-neutral-primary dark:bg-dark-neutral-primary
          "
        >
          text-light-onneutral-primary dark:text-dark-onneutral-primary
        </td>
      </tr>
      <tr class="bg-light-default border-b dark:bg-dark-default dark:border-gray-700">
        <td
          class="
            px-6 py-4 text-light-ondanger-primary dark:text-dark-ondanger-primary font-mono
            bg-light-danger-primary dark:bg-dark-danger-primary
          "
        >
          text-light-ondanger-primary dark:text-dark-ondanger-primary
        </td>
      </tr>
      <tr class="bg-light-brand-primary dark:bg-dark-brand-primary">
        <td class="px-6 py-4 font-mono bg-light-brand-secondary dark:bg-dark-brand-secondary text-light-onbrand-secondary dark:text-dark-onbrand-secondary">
            bg-light-onbrand-secondary dark:bg-dark-onbrand-secondary
        </td>
      </tr>
    </tbody>
  </table>
</div>
