<h2 class="text-lg font-bold">Background Colours</h2>

<table
  class="
    w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
  "
>
  <thead
    class="
      text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
    "
  >
    <tr>
      <th class="px-6 py-3">Colour</th>
      <th class="px-6 py-3">Class</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div class="bg-light-brand-primary dark:bg-dark-brand-primary h-6 w-6 rounded"></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-brand-primary dark:bg-dark-brand-primary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-brand-primary-hover dark:bg-dark-brand-primary-hover
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-brand-secondary dark:bg-dark-brand-secondary h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-brand-secondary dark:bg-dark-brand-secondary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-neutral-primary dark:bg-dark-neutral-primary h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-neutral-primary dark:bg-dark-neutral-primary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-neutral-primary-hover dark:bg-dark-neutral-primary-hover h-6 w-6
            rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-neutral-primary-hover dark:bg-dark-neutral-primary-hover
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-neutral-secondary dark:bg-dark-neutral-secondary h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-neutral-secondary dark:bg-dark-neutral-secondary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-danger-primary dark:bg-dark-danger-primary h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-danger-primary dark:bg-dark-danger-primary
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-danger-primary-hover dark:bg-dark-danger-primary-hover h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-danger-primary-hover dark:bg-dark-danger-primary-hover
      </td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-6 py-4">
        <div
          class="
            bg-light-danger-secondary dark:bg-dark-danger-secondary h-6 w-6 rounded
          "
        ></div>
      </td>
      <td class="px-6 py-4 font-mono">
        bg-light-danger-secondary dark:bg-dark-danger-secondary
      </td>
    </tr>
  </tbody>
</table>

<h2 class="text-lg font-bold">Text Colours</h2>

<table
  class="
    w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
  "
>
  <thead
    class="
      text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
    "
  >
    <tr>
      <th class="px-6 py-3">Colour</th>
      <th class="px-6 py-3">Class</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td
        class="
          px-6 py-4 text-light-neutral-onprimary dark:text-dark-neutral-onprimary
          font-mono bg-light-brand-primary
        "
      >
        text-light-neutral-onprimary dark:text-dark-neutral-onprimary
      </td>
    </tr>
  </tbody>
</table>
