<div>
  <%= viral_alert(type:, message:, classes: "mb-4 h-30 overflow-y-auto") do %>
    <% unless errors.empty? %>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <div>
    <%= viral_button(state: :primary, data: { action: 'click->viral--dialog#close' }) do %>
      <%= t(".ok_button") %>
    <% end %>
  </div>
</div>
