<%= viral_modal(title: 'This is a modal title') do |modal| %>
  <%= modal.body do %>
    <p>This is the modal body</p>
  <% end %>
  <%= modal.primary_action { "Create new project" } %>
  <%= modal.secondary_action do %>
    <button class="btn btn-default">FOOBAR</button>
  <% end %>
<% end %>
