<div class="flex flex-row-reverse mb-4">
  <% if Flipper.enabled?(:workflow_execution_attachments_searching) %>
    <%= render SearchComponent.new(
              query: @q,
              search_attribute: :puid_or_file_blob_filename_cont,
              placeholder: t("workflow_executions.files.search.placeholder"),
              url: namespace_project_workflow_execution_path(@namespace.parent, @namespace.project, @workflow_execution)
              ) do %>
      <%= hidden_field_tag :limit, @pagy.limit %>
      <%= hidden_field_tag :tab, @tab %>
    <% end %>
  <% end %>
</div>

<%= render Attachments::TableComponent.new(
  @attachments,
  @pagy,
  @q,
  nil,
  nil,
  @workflow_execution,
  true,
  @has_attachments,
  abilities: {
  },
  row_actions: {
    preview: Flipper.enabled?(:attachments_preview),
  },
  empty: {
    icon_name: :document_text,
    title: t("workflow_executions.files.empty.title"),
    description: t("workflow_executions.files.empty.description"),
  },
) %>
