<%= turbo_frame_tag "selected" do %>
  <div
    data-controller="table-selection"
    data-table-selection-ids-value="<%= @workflow_executions %>"
    data-table-selection-selection-outlet="#workflow-executions-table"
  ></div>
<% end %>
