<div class="flex flex-col gap-2 mt-2">
  <div class="flex">
    <div class="flex-1"></div>
    <div class="grow-0">
      <%= search_form_for @q, url: namespace_project_group_links_url(**request.query_parameters), data: { turbo_action: 'replace' }, class: "filters flex items-end space-x-2" do |f| %>
        <%= render SearchFieldComponent.new(
          label: t(".search.label"),
          placeholder: t(".search.placeholder"),
          form: f,
          field_name: :group_name_cont,
          value: @q.group_name_cont,
        ) %>
        <input type="hidden" name="tab" value="invited_groups"/>
        <input type="hidden" name="format" value="turbo_stream"/>
      <% end %>
    </div>
  </div>
  <%= render Groups::TableComponent.new(
    @namespace_group_links,
    @namespace,
    @access_levels,
    @q,
    abilities: {
      update_namespace: @allowed_to[:update_namespace_with_group_link],
      unlink_group: @allowed_to[:unlink_group],
    },
  ) %>
</div>
