<%= viral_card do |card| %>
  <% card.with_header(title: t(:"projects.edit.advanced.destroy.title")) %>
  <% card.with_section do %>
    <p class="text-slate-600 dark:text-slate-400">
      <%= t(:"projects.edit.advanced.destroy.description") %>
    </p>
    <div class="mt-4">
      <%= link_to t(:"projects.edit.advanced.destroy.submit"),
      namespace_project_path,
      data: {
        turbo_method: :delete,
        turbo_confirm: t(:"projects.edit.advanced.destroy.confirm"),
      },
      class: "button button--state-destructive button--size-default inline-block" %>
    </div>
  <% end %>
<% end %>
