<p class="mb-4 text-base text-gray-900 dark:text-white">
  <%= raw t(
            "projects.edit.advanced.delete.description",
            project_name: @project.name,
            date: l(Time.now, format: :short)
          ) %>
</p>

<%= form_with url: namespace_project_path, method: :delete, data: { turbo: false } do |form| %>
  <%= form.submit t("projects.edit.advanced.delete.link") %>
<% end %>
