<%= form_with(model: project, url: namespace_project_path, method: :patch, html: { novalidate: true }) do |form| %>
  <%= form.fields_for :namespace, include_id: false do |builder| %>
    <div class="grid gap-4">
      <%= render partial: "form_fields", locals: { builder: builder, project: project } %>
      <div>
        <%= form.submit t("projects.edit.general.submit"), class: "button button-default" %>
      </div>
    </div>
  <% end %>
<% end %>
