<%= turbo_frame_tag "projects_list", src: projects_url(format: :turbo_stream, page: params[:page]) do %>
  <table id="projects_list" class="min-w-full table-fixed dark:divide-gray-600">
    <tbody
      class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
    >
    <%= render partial: 'projects/project', collection: @projects %>
    </tbody>
  </table>
  <%= render PaginationComponent.new(results: @pagy) %>
<% end %>
