<%= render layout: 'shared/page_header', locals: {
  icon: "rectangle_stack",
  title: t("projects.index.title"),
  subtitle: t("projects.index.subtitle"),
  buttons: "projects/index_buttons"
} do %>
  <p>JELLO ROCKS</p>
<% end %>