<div
  class="flex items-center justify-center gap-2 py-6"
  role="status"
  aria-live="polite"
>
  <%= pathogen_icon :faded_spinner, library: "animated", color: :primary %>
  <span><%= t(".loading_content") %></span>
</div>
