<div
  class="animate-pulse"
  role="status"
  aria-live="polite"
>
  <span class="sr-only"><%= t(".loading_content") %></span>
  <div class="flex flex-col gap-5" aria-hidden="true">
    <div class="h-4 w-1/3 rounded bg-slate-200 dark:bg-slate-700"></div>
    <div class="flex flex-col gap-3">
      <div class="h-3 w-full rounded bg-slate-200 dark:bg-slate-700"></div>
      <div class="h-3 w-11/12 rounded bg-slate-200 dark:bg-slate-700"></div>
      <div class="h-3 w-10/12 rounded bg-slate-200 dark:bg-slate-700"></div>
      <div class="h-3 w-10/12 rounded bg-slate-200 dark:bg-slate-700"></div>
      <div class="h-3 w-10/12 rounded bg-slate-200 dark:bg-slate-700"></div>
      <div class="h-3 w-10/12 rounded bg-slate-200 dark:bg-slate-700"></div>
    </div>
  </div>
</div>
