<%= tag.button(
  id: @id,
  type: @system_arguments[:type],
  role: @system_arguments[:role],
  aria: {
    selected: @system_arguments[:aria][:selected],
    controls: @system_arguments[:aria][:controls]
  }.compact,
  tabindex: @system_arguments[:tabindex],
  data: @system_arguments[:data],
  class: @system_arguments[:class],
  **@system_arguments.except(:id, :type, :role, :aria, :tabindex, :data, :class)
) do %>
  <span class="flex items-center">
    <%# Icon placeholder - will be added in US3 %>

    <%# Tab label %>
    <span><%= @label %></span>

    <%# Count badge placeholder - will be added in US4 %>
  </span>
<% end %>
