<%= render Viral::BaseComponent.new(**system_arguments) do %>
  <span><%= t(".items", items: @item) %></span>
  <%= viral_dropdown(label: @pagy.limit) do |dropdown| %>
    <% Pagy::DEFAULT[:limits].each do |limit| %>
      <% dropdown.with_item(label: limit, url: "?limit=#{limit}") %>
    <% end %>
  <% end %>
  <span><%== t(".summary", to: @pagy.to, from: @pagy.from, count: @pagy.count) %></span>
<% end %>
