<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(:".create_group_button"),
    new_group_path,
    class:
      "inline-flex items-center justify-center button button--state-primary button--size-default" %>
  <% end %>
<% end %>
<div class="bg-white dark:bg-gray-800">
  <%= render NamespaceTreeContainerComponent.new(groups: @groups, path: "dashboard_groups_path") %>
</div>
