<div class="flex flex-col groups-list namespace-list-tree" role="<%= @role %>">
  <%= render NamespaceTree::RowComponent.with_collection(
    namespaces,
    path: path,
    path_args: path_args,
    type: @type,
    collapsed: collapsed,
    render_flat_list: render_flat_list,
    search_params: search_params,
    icon_size: icon_size,
  ) %>
</div>
