<span>
  <% if @activity[:automated] == true %>
    <% if workflow_execution_exists %>
      <% href =
        link_to(
          @activity[:workflow_id],
          namespace_project_automated_workflow_executions_path(
            @activity[:namespace].parent,
            @activity[:namespace].project,
          ),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ) %>
    <% else %>
      <% href =
        link_to(
          @activity[:workflow_id],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true,
        ) %>
    <% end %>

    <%= t("#{@activity[:key]}", user: @activity[:user], href: href) %>
  <% else %>
    <% if workflow_execution_exists && workflow_execution_sample_exists %>
      <% href =
        link_to(
          @activity[:workflow_id],
          namespace_project_workflow_execution_path(
            @activity[:namespace].parent,
            @activity[:namespace].project,
            @activity[:workflow_id],
          ),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ) %>

      <% sample_href =
        link_to(
          @activity[:sample_puid],
          namespace_project_sample_path(
            @activity[:namespace].parent,
            @activity[:namespace].project,
            @activity[:sample_id],
          ),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ) %>
    <% elsif workflow_execution_exists %>
      <% href =
        link_to(
          @activity[:workflow_id],
          namespace_project_workflow_execution_path(
            @activity[:namespace].parent,
            @activity[:namespace].project,
            @activity[:workflow_id],
          ),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ) %>

      <% sample_href =
        link_to(
          @activity[:sample_puid],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true,
        ) %>
    <% elsif workflow_execution_sample_exists %>
      <% href =
        link_to(
          @activity[:workflow_id],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true,
        ) %>

      <% sample_href =
        link_to(
          @activity[:sample_puid],
          namespace_project_sample_path(
            @activity[:namespace].parent,
            @activity[:namespace].project,
            @activity[:sample_id],
          ),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ) %>
    <% else %>
      <% href =
        link_to(
          @activity[:workflow_id],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true,
        ) %>

      <% sample_href =
        link_to(
          @activity[:sample_puid],
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true,
        ) %>
    <% end %>

    <%= t(
      "#{@activity[:key]}",
      user: @activity[:user],
      href: href,
      sample_href: sample_href,
    ) %>
  <% end %>
</span>
