<div class="flex gap-2">
  <%= render Pathogen::Button.new(scheme: :default) do %>
    Button
  <% end %>

  <%= render Pathogen::Button.new(scheme: :primary) do %>
    Button
  <% end %>

  <%= render Pathogen::Button.new(scheme: :danger) do %>
    Button
  <% end %>
</div>
