<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @group.class.model_name.human, namespace_name: @group.name)) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div
      class="
        p-4
        bg-white
        border
        border-gray-200
        rounded-lg
        shadow-sm
        2xl:col-span-2
        dark:border-gray-700
        sm:p-6
        dark:bg-gray-800
      "
    >
      <%= turbo_frame_tag "group_samples_list",
      src: group_samples_path(@group, format: :turbo_stream, page: params[:page]),
      loading: :lazy %>
      <%= turbo_frame_tag "group_samples_pagination" %>
    </div>
  </div>
</div>
