<div class="flex flex-col @lg:flex-row-reverse mb-2">
  <% if Flipper.enabled?(:workflow_execution_attachments_searching) %>
    <%= render SearchComponent.new(
              query: @q,
              search_attribute: :puid_or_file_blob_filename_cont,
              label: t(".search.label"),
              placeholder: t(".search.placeholder"),
              url: group_workflow_execution_path(@namespace, @workflow_execution),
              total_count: @pagy.count,
              value: @q.puid_or_file_blob_filename_cont,
            ) do %>
      <%= hidden_field_tag :limit, @pagy.limit %>
      <%= hidden_field_tag :tab, @tab %>
    <% end %>
  <% end %>
</div>

<%= render Attachments::TableComponent.new(
  @attachments,
  @pagy,
  @q,
  @workflow_execution,
  true,
  @has_attachments,
  abilities: {
  },
  row_actions: {
    preview: Flipper.enabled?(:attachments_preview),
  },
  empty: {
    icon_name: ICON::FILE_TEXT,
    title: t("workflow_executions.files.empty.title"),
    description: t("workflow_executions.files.empty.description"),
  },
) %>
