<%# Edge case: Tabs with no content %>
<%= render Pathogen::TabsPanel.new(id: "empty-tabs") do |tabs| %>
  <% tabs.with_tab(
    id: "tab-1",
    controls: "panel-1",
    text: "Empty",
    href: "/empty",
    selected: true,
  ) %>

  <% tabs.with_tab(
    id: "tab-2",
    controls: "panel-2",
    text: "Also Empty",
    href: "/also-empty",
  ) %>
<% end %>

<%# Empty Panels %>
<div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
  <%# Intentionally empty %>
</div>

<div id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden>
  <%# Intentionally empty %>
</div>
