<%# Navigation with custom body structure %>
<%= render Pathogen::TabsPanel.new(
  id: "custom-body-nav",
  body_arguments: {
    tag: :div,
    classes: "flex space-x-4"
  }
) do |nav| %>
  <% nav.with_tab(
    id: "nav-1",
    text: "Home",
    href: "/home",
    selected: true,
    wrapper_arguments: {
      tag: :div,
      classes: "flex-1",
    },
  ) %>

  <% nav.with_tab(
    id: "nav-2",
    text: "Profile",
    href: "/profile",
    wrapper_arguments: {
      tag: :div,
      classes: "flex-1",
    },
  ) %>

  <% nav.with_tab(
    id: "nav-3",
    text: "Settings",
    href: "/settings",
    wrapper_arguments: {
      tag: :div,
      classes: "flex-1",
    },
  ) %>
<% end %>

<%# Content sections %>
<div id="home-content" class="p-4">
  <p>Home content</p>
</div>

<div id="profile-content" class="p-4">
  <p>Profile content</p>
</div>

<div id="settings-content" class="p-4">
  <p>Settings content</p>
</div>
