<%# Tabs with accessibility label %>
<%= render Pathogen::TabsPanel.new(
  id: "labeled-tabs",
  label: "User Account Navigation"
) do |tabs| %>
  <% tabs.with_tab(
    id: "tab-1",
    controls: "panel-1",
    text: "Account",
    href: "/account",
    selected: true,
  ) %>

  <% tabs.with_tab(
    id: "tab-2",
    controls: "panel-2",
    text: "Security",
    href: "/security",
  ) %>

  <% tabs.with_tab(
    id: "tab-3",
    controls: "panel-3",
    text: "Notifications",
    href: "/notifications",
  ) %>
<% end %>

<%# Panels %>
<div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
  <p class="p-4">Account settings panel content</p>
</div>

<div id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden>
  <p class="p-4">Security settings panel content</p>
</div>

<div id="panel-3" role="tabpanel" aria-labelledby="tab-3" hidden>
  <p class="p-4">Notification settings panel content</p>
</div>
