<%# Tabs with count badges %>
<%= render Pathogen::TabsPanel.new(id: "count-tabs") do |tabs| %>
  <% tabs.with_tab(
    id: "tab-1",
    controls: "panel-1",
    text: "Inbox",
    href: "/inbox",
    selected: true
  ) do |tab| %>
    <%= tab.count { "5" } %>
  <% end %>

  <% tabs.with_tab(
    id: "tab-2",
    controls: "panel-2",
    text: "Sent",
    href: "/sent"
  ) do |tab| %>
    <%= tab.count { "12" } %>
  <% end %>

  <% tabs.with_tab(
    id: "tab-3",
    controls: "panel-3",
    text: "Drafts",
    href: "/drafts"
  ) do |tab| %>
    <%= tab.count { "3" } %>
  <% end %>
<% end %>

<%# Panels %>
<div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
  <p class="p-4">Inbox panel content</p>
</div>

<div id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden>
  <p class="p-4">Sent panel content</p>
</div>

<div id="panel-3" role="tabpanel" aria-labelledby="tab-3" hidden>
  <p class="p-4">Drafts panel content</p>
</div>
