<div class="sample-sheet" data-controller="nextflow--samplesheet">

  <label class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"><%= t(".label") %></label>

  <div class="samplesheet-table flex border dark:border-slate-600 border border-slate-100">
    <% properties.each do |header, property| %>
      <%= render Nextflow::Samplesheet::ColumnComponent.new(
        namespace_id:,
        header:,
        property:,
        samples: @samples,
        metadata_fields:,
        required: required_properties.include?(header)
      ) %>
    <% end %>
  </div>
</div>
