<div class="sample-sheet">

  <label class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"><%= t(".label") %></label>

  <div
    data-nextflow--samplesheet-target="table"
    class="
      samplesheet-table flex border dark:border-slate-600 border-slate-100 max-h-72
      overflow-y-auto relative
    "
  >
    <% properties.each do |header, property| %>
      <%= render Nextflow::Samplesheet::ColumnComponent.new(
        header:,
        property:,
        samples: @samples,
        metadata_fields:,
        required: required_properties.include?(header),
        workflow_params:,
      ) %>
    <% end %>
    <template data-nextflow--samplesheet-target="loading">
      <div
        role="status"
        class="
          absolute h-full w-full text-black dark:text-white backdrop-blur-sm flex
          items-center justify-center z-20
        "
      >
        <span class="flex items-center p-4 space-x-4">
          <span class="flex-shrink-0">
            <%= viral_icon(name: :loading, classes: "animate-spin text-primary-500 h-5 w-5") %>
          </span>
          <span class="font-bold"><%= t(".loading") %></span>
        </span>
      </div>
    </template>
  </div>

</div>
