<%# locals: (id: nil, errors:) -%>
<% if defined? errors %>
  <%= tag.ul id: id, class: "max-w-md text-sm text-slate-500 list-inside dark:text-slate-400" do %>
    <% errors.each do |error_message| %>
      <li>
        <%= viral_help_text(state: :error) do %>
          <%= error_message %>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
