<% if defined? errors %>
  <ul
    class="
      max-w-md
      space-y-1
      text-gray-500
      list-inside
      dark:text-gray-400
      text-sm
    "
  >
    <% errors.each do |error_message| %>
      <li class="flex items-center text-red-500">
        <%= render "icons/x_circle", class_names: "w-3 h-3 mr-1.5 flex-shrink-0" %><%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>
