<span class="text-sm text-slate-500 dark:text-slate-300">
  <span class="align-baseline text-sm leading-none text-red-500 no-underline mr-2" aria-hidden="true">
    *</span><%= t("shared.form.required_field") %>
</span>
