<div>
  <%= t(
    "activity.attachment.create",
    user: "fdgf",
    sample_name:
      (
        if !activity.trackable.nil?
          activity.trackable.attachable.name
        else
          activity.parameters["name"]
        end
      ),
    project_name:
      (
        if !activity.trackable.nil?
          activity.trackable.attachable.project.name
        else
          activity.parameters["project_name"]
        end
      )
  ) %>
</div>
