<%= turbo_stream.update "file_selector_dialog",
                    partial: "file_selector/file_selector_dialog",
                    locals: {
                      open: false,
                    } %>

<turbo-stream
  action="replace"
  target="0f8ee3f5-5111-4954-9221-34cfc72c3f7c_fastq_1"
>
  <template>
    <div
      class="
        w-full focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-inherit
        bg-inherit border-none dark:border-none dark:placeholder-slate-400 text-inherit
        text-sm dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
      "
    >h1h1h1h1h</div>
  </template>
</turbo-stream>
