<div data-controller="projects--samples--attachments--concatenations"
    data-projects--samples--attachments--concatenations-storage-key-value=<%= namespace_project_sample_url(id: @sample.id) %>
    data-projects--samples--attachments--concatenations-target="clearSelectionDiv">
</div>
