<pre
  data-clipboard-target="source"
  class="
    p-4 overflow-x-auto rounded-lg bg-slate-50 dark:bg-slate-900 dark:text-slate-300
  "
>
  <% file.download.lines.each_with_index do |line, index| %>
    <div class="flex">
      <span
        class="
          w-12 pr-2 mr-2 text-right border-r select-none text-slate-400
          dark:text-slate-600 border-slate-200 dark:border-slate-700
        "
      ><%= index + 1 %></span>
      <span class="pl-4"><%= line.strip %></span>
    </div>
  <% end %>
</pre>
