<span>
  <% if project_exists %>
    <% href =
      link_to(
        @activity[:project_puid],
        namespace_project_path(@activity[:group], @activity[:project].project),
        class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
      ) %>
  <% else %>
    <% href =
      content_tag(
        :span,
        @activity[:project_puid],
        class: "text-slate-800 dark:text-slate-300 font-medium",
      ) %>
  <% end %>

  <%= t(
    "#{@activity[:key]}",
    user: @activity[:user],
    href: href,
    old_namespace:
      content_tag(
        :span,
        @activity[:old_namespace],
        class: "text-slate-800 dark:text-slate-300 font-medium",
      ),
    new_namespace:
      content_tag(
        :span,
        @activity[:new_namespace],
        class: "text-slate-800 dark:text-slate-300 font-medium",
      ),
  ) %>
</span>
