@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow: hidden;
}

@layer components {
  kbd {
    @apply px-2 py-1.5 text-sm font-semibold text-slate-800 bg-slate-100 border border-slate-200 rounded-lg dark:bg-slate-600 dark:text-slate-100 dark:border-slate-500;
  }

  dt {
    @apply text-base font-medium text-gray-900 dark:text-white;
  }

  dd {
    @apply text-gray-500 dark:text-gray-400;
  }

  dd:not(:last-child) {
    @apply mb-4;
  }

  .layout-body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    @apply w-screen h-screen transition-all;
  }

  .layout-body.collapsed {
    grid-template-columns: 0 1fr;
  }

  .sidebar {
    grid-template-areas: "navigation" "collapse";
    grid-template-rows: 1fr 40px;
    overflow-x: hidden;
  }

  .navbar-button,
  button.navbar-button.Viral-Dropdown--icon {
    @apply p-1 text-sm rounded-md text-slate-500 hover:bg-slate-300 focus:outline-none focus:ring-4 focus:ring-slate-200 dark:text-slate-400 dark:hover:bg-slate-700 dark:focus:ring-slate-700;
  }

  .link {
    @apply font-medium text-green-600 hover:underline dark:text-green-500;
  }

  .card {
    @apply p-4 border rounded-md shadow-sm bg-slate-50 border-slate-200 dark:border-slate-700 sm:p-6 dark:bg-slate-800;
  }

  p link {
    @apply font-medium text-green-600 underline hover:no-underline dark:text-green-500;
  }

  .form-field label {
    @apply block mb-1 text-sm font-medium text-slate-900 dark:text-white;
  }

  .form-field div.field_with_errors {
    @apply block w-full;
  }

  .form-field input[type="text"],
  .form-field input[type="search"],
  .form-field input[type="password"],
  .form-field input[type="email"] {
    @apply border border-slate-300 text-slate-900 sm:text-sm rounded-md focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-slate-800 dark:border-slate-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500;
  }

  .form-field input[type="text"].prefixed,
  .form-field input[type="search"].prefixed,
  .form-field input[type="password"].prefixed,
  .form-field input[type="email"].prefixed {
    @apply rounded-l-none rounded-r-md;
  }

  .form-field.datepicker input[type="text"] {
    @apply border border-slate-300 text-slate-900 sm:text-sm rounded-md focus:ring-primary-700 focus:border-primary-700 block w-full pl-10 p-2.5 dark:bg-slate-800 dark:border-slate-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .form-field .select2 input[type="text"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' aria-hidden='true' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .form-field select,
  .form-field select option {
    @apply border-slate-300  text-slate-900 sm:text-sm rounded-md focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-slate-800 dark:border-slate-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
  }

  .form-field select:has(option[value=""]:checked) {
    @apply text-slate-500 dark:text-opacity-60 dark:text-slate-400;
  }

  .form-field select.error {
    @apply border-red-500 text-slate-900 sm:text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-slate-800 dark:border-red-400 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500;
  }

  .form-field select.prefixed {
    appearance: none;
    padding: 0 1em 0 1em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    @apply rounded-r-md border-0 p-2.5 block w-full bg-slate-50 border-slate-300 text-sm text-slate-900 focus:border-green-500 focus:ring-green-500 dark:placeholder-gray-400 dark:shadow-sm-light dark:border-slate-600 dark:bg-slate-800 dark:text-white dark:focus:border-green-500 dark:focus:ring-green-500;
  }

  .form-field.invalid label {
    @apply text-red-700 dark:text-red-500;
  }

  .form-field.invalid input[type="text"] {
    @apply placeholder-red-700 border-red-500 bg-red-50 focus:border-red-500 focus:ring-red-500 dark:placeholder-red-300 dark:border-red-400 dark:bg-red-800;
  }

  .form-field.invalid input[type="file"] {
    @apply placeholder-red-700 border-red-500 bg-red-50 focus:border-red-500 focus:ring-red-500 dark:placeholder-red-300 dark:border-red-400 dark:bg-red-800;
  }

  .form-field.invalid textarea {
    @apply placeholder-red-700 border-red-500 bg-red-50 focus:border-red-500 focus:ring-red-500 dark:placeholder-red-300 dark:border-red-400 dark:bg-red-800;
  }

  .form-field textarea {
    @apply block w-full rounded-md border border-slate-300 text-sm text-slate-900 p-2.5 focus:border-green-500 focus:ring-green-500 dark:placeholder-gray-400 dark:border-slate-600 dark:bg-slate-800 dark:text-white dark:focus:border-green-500 dark:focus:ring-green-500;
  }

  input[type="checkbox"] {
    @apply w-4 h-4 border rounded border-slate-300 bg-slate-50 focus:ring-primary-300 focus:ring-4 dark:border-slate-600 dark:bg-slate-800 dark:ring-offset-slate-800 dark:focus:ring-primary-600;
  }

  .field-hint {
    @apply mt-1 text-sm text-slate-500 dark:text-slate-400;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath d='M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z' /%3E%3C/svg%3E%0A");
  }

  .row-btn {
    @apply px-1 py-0 text-sm text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-4 focus:ring-slate-200 dark:text-slate-400 dark:hover:bg-slate-700 dark:focus:ring-slate-700;
  }

  .row-btn svg {
    @apply w-5 h-5;
  }

  .Viral-Icon {
    height: 2rem;
    width: 2rem;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    @apply flex justify-center align-middle;
  }

  .Viral-Icon__Svg {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .Viral-Icon--colorBase {
    @apply text-slate-900;
  }

  .Viral-Icon--colorSubdued {
    @apply text-slate-400;
  }

  .Viral-Icon--colorCritical {
    @apply text-red-500;
  }

  .Viral-Icon--colorWarning {
    @apply text-yellow-500;
  }

  .Viral-Icon--colorSuccess {
    @apply text-green-500;
  }

  .Viral-Icon--colorPrimary {
    @apply text-primary-500;
  }

  .Viral-Dropdown--button {
    @apply flex items-center py-2.5 px-5 text-sm font-medium text-slate-900 focus:outline-none bg-white rounded-md border border-slate-200 hover:bg-slate-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-200 dark:focus:ring-slate-700 dark:bg-slate-800 dark:text-slate-400 dark:border-slate-600 dark:hover:text-white dark:hover:bg-slate-700;
  }

  .Viral-Dropdown--icon {
    @apply rounded-md text-sm text-slate-500 p-2.5 hover:bg-slate-100 focus:outline-none focus:ring-4 focus:ring-slate-200 dark:text-slate-400 dark:hover:bg-slate-700 dark:focus:ring-slate-700;
  }

  .button {
    @apply inline-flex items-center justify-center w-1/2 text-sm border rounded-md cursor-pointer sm:w-auto focus:z-10;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button--size-default {
    @apply text-sm px-5 py-2.5;
  }

  .button--size-small {
    @apply px-3 py-2 text-xs;
  }

  .button--size-large {
    @apply py-3 text-lg px-7;
  }

  .button--state-default {
    @apply bg-white text-slate-900 border-slate-200 focus:outline-none hover:bg-slate-100 hover:text-slate-950 focus:ring-slate-200 dark:focus:ring-slate-700 dark:bg-slate-800 dark:text-slate-400 dark:border-slate-600 dark:hover:text-white dark:hover:bg-slate-700;
  }

  .button--state-destructive {
    @apply text-white bg-red-700 border-red-800 focus:outline-none hover:bg-red-800 focus:ring-red-300 dark:focus:ring-red-700 dark:bg-red-600 dark:text-white dark:border-red-600 dark:hover:bg-red-700;
  }

  .button--state-primary {
    @apply text-white border-primary-800 bg-primary-700 focus:outline-none hover:bg-primary-800 focus:ring-primary-300 dark:focus:ring-primary-700 dark:bg-primary-800 dark:text-white dark:border-primary-900 dark:hover:bg-primary-700;
  }

  /* VIRAL DIALOG */
  dialog {
    @apply w-full max-w-2xl max-h-full p-0 bg-white rounded-lg shadow dark:bg-slate-800 focus:outline-none;
  }

  dialog::backdrop {
    @apply bg-slate-400/30 dark:bg-slate-900/40 backdrop-blur-sm;
  }

  .dialog--size {
    @apply relative w-full max-h-full;
  }

  .dialog--size-sm {
    @apply max-w-md;
  }

  .dialog--size-md {
    @apply max-w-xl;
  }

  .dialog--size-lg {
    @apply max-w-3xl;
  }

  .dialog--size-xl {
    @apply max-w-7xl;
  }

  .dialog--header {
    @apply flex items-start justify-between p-5 border-b rounded-t dark:border-slate-600;
  }

  .dialog--title {
    @apply text-xl font-semibold text-slate-900 dark:text-white;
  }

  .dialog--close {
    @apply text-slate-400 bg-transparent hover:bg-slate-200 hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white focus:outline-none focus:ring-4 focus:ring-slate-200 dark:focus:ring-slate-700;
  }

  .dialog--section {
    @apply p-5;
  }

  .dialog--footer {
    @apply flex items-center p-5 space-x-2 border-t rounded-b border-slate-200 dark:border-slate-600;
  }

  .avatar {
    @apply relative inline-flex items-center justify-center flex-none overflow-hidden rounded-md text-slate-800 dark:text-slate-300;
    --tw-avatar-bg-lightness: 35%;
    --tw-avatar-border-lightness: 35%;
    --tw-avatar-bg-alpha: 0.3;
  }

  .dark .avatar {
    --tw-avatar-bg-lightness: 25%;
    --tw-avatar-border-lightness: 90%;
    --tw-avatar-bg-alpha: 0.4;
  }

  strong {
    @apply font-semibold;
  }

  /*GROUPS LIST TREE*/
  .namespace-tree-container
    > .namespace-list-tree
    > .namespace-entry.has-children:first-child {
    border-top: 0;
  }

  .namespace-list-tree .folder-toggle-wrap {
    font-size: 0;
    flex-shrink: 0;
  }

  .namespace-list-tree .folder-toggle-wrap span {
    font-size: 12px;
  }

  .namespace-list-tree .item-type-icon {
    margin-top: 2px;
    width: 20px;
  }

  .namespace-list-tree > .namespace-entry:not(.has-children) .folder-caret {
    opacity: 0;
  }

  .namespace-list-tree .namespace-list-tree {
    margin-bottom: 0;
    margin-left: 30px;
    position: relative;
  }

  .namespace-list-tree .namespace-list-tree::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: -16px;
    @apply border-l-2 border-slate-200 dark:border-slate-600;
  }

  .namespace-list-tree .namespace-list-tree .namespace-entry {
    position: relative;
  }

  .namespace-list-tree .namespace-list-tree .namespace-entry::before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    position: absolute;
    top: 30px;
    left: -16px;
    @apply border-t-2 border-slate-200 dark:border-slate-600;
  }

  .namespace-list-tree
    .namespace-list-tree
    .namespace-entry:last-child::before {
    height: auto;
    top: 30px;
    bottom: 0;
    @apply bg-white dark:bg-slate-800;
  }

  .namespace-list-tree .namespace-list-tree .namespace-entry.being-removed {
    opacity: 0.5;
  }

  .namespace-list-tree .namespace-entry {
    padding: 0;
  }

  .namespace-list-tree .namespace-entry.has-children {
    border-top: 0;
  }

  .namespace-list-tree .namespace-entry:first-child {
    @apply border-t border-slate-200 dark:border-slate-600;
  }

  .namespace-list-tree
    .namespace-entry.has-children
    > .namespace-entry-contents:hover {
    @apply cursor-pointer border-slate-50 dark:border-slate-600 bg-slate-50 dark:bg-slate-600;
  }

  .namespace-list-tree .namespace-entry-contents .namespace-text-container,
  .namespace-list-tree .namespace-entry-contents .namespace-text {
    min-width: 0;
  }

  .namespace-list-tree .namespace-entry-contents .namespace-text {
    flex-basis: 100%;
  }

  .namespace-list-tree .namespace-entry-contents .avatar-container {
    flex-shrink: 0;
  }

  .namespace-list-tree .namespace-entry-contents .avatar-container > a {
    width: 100%;
    text-decoration: none;
  }

  .namespace-list-tree .namespace-entry-contents .title {
    @apply text-base font-medium text-slate-900 dark:text-white;
  }

  .namespace-list-tree .namespace-entry-contents.has-more-items {
    display: block;
    padding: 20px 10px;
  }

  .namespace-list-tree .namespace-entry-contents .description p {
    max-width: 100%;
    @apply text-sm text-slate-700 dark:text-slate-400;
  }

  .namespace-list-tree .namespace-entry-contents .stats {
    position: relative;
    line-height: normal;
    text-align: right;
    flex-shrink: 0;
  }

  .namespace-list-tree .namespace-entry-contents .stats > span {
    display: inline-flex;
    align-items: center;
    height: 16px;
    min-width: 30px;
  }

  .namespace-list-tree .namespace-entry-contents .stats .stat-value {
    margin: 2px 0 0 5px;
  }
}

.pagy-nav.pagination {
  @apply inline-flex -space-x-px rounded-md shadow-sm isolate;
}

.page.next a {
  @apply flex items-center justify-center h-full py-1.5 px-3 leading-tight text-slate-500 bg-white rounded-r-lg border border-slate-300 hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:border-slate-700 dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white;
}

.page.prev a {
  @apply flex items-center justify-center h-full py-1.5 px-3 ml-0 text-slate-500 bg-white rounded-l-lg border border-slate-300 hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:border-slate-700 dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white;
}

.page.next.disabled {
  @apply flex items-center justify-center h-full py-1.5 px-3 ml-0 text-slate-500 bg-slate-50 rounded-r-lg border border-slate-300 dark:bg-slate-900 dark:border-slate-700 dark:text-slate-400 cursor-not-allowed;
}

.page.prev.disabled {
  @apply flex items-center justify-center h-full py-1.5 px-3 ml-0 text-slate-500 bg-slate-50 rounded-l-lg border border-slate-300 dark:bg-slate-900 dark:border-slate-700 dark:text-slate-400 cursor-not-allowed;
}

.page a,
.page.gap {
  @apply relative inline-flex items-center px-4 py-2 text-sm font-medium bg-white border text-slate-900 border-slate-200 focus:outline-none hover:bg-slate-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-slate-200 dark:focus:ring-slate-700 dark:bg-slate-800 dark:text-slate-400 dark:border-slate-600 dark:hover:text-white dark:hover:bg-slate-700;
}

.page.active {
  @apply z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-slate-700 dark:bg-slate-800 dark:text-white;
}

.pagy-info {
  @apply text-sm font-normal text-slate-500 dark:text-slate-400;
}

div.field_with_errors > :is(select) {
  @apply text-red-900 placeholder-red-300 border-red-700;
}

.table-container table:not(:has(tbody td)) {
  display: none;
}

.table-container:not(:has(td)) .empty_state_message {
  display: block;
}

.table-container .empty_state_message {
  display: none;
}

.samples-app {
  height: calc(100vh - 50px - 32px);
  max-height: calc(100vh - 50px - 32px);
  display: flex;
  flex-direction: column;
}

.scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1 !important;
  @apply bg-slate-300 dark:bg-slate-600;
  border-radius: 0.25rem;
}

.scrollbar::-webkit-scrollbar-corner {
  display: none;
}
