<span>
  <% namespace =
    (
      if @activity[:source_project].present?
        @activity[:source_project]
      else
        @activity[:target_project]
      end
    ) %>
  <% if project_exists(namespace) %>
    <%= t(
      "#{@activity[:key]}",
      user: @activity[:user],
      href:
        link_to(
          namespace_puid(namespace),
          namespace_project_samples_path(namespace.parent, namespace.project),
          class: "text-slate-800 dark:text-slate-300 font-medium hover:underline",
        ),
      transferred_samples_count: link_to(
          @activity[:transferred_samples_ids]&.size,
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
        ),
      transferred_samples_ids: @activity[:transferred_samples_ids],
      transferred_samples_puids: @activity[:transferred_samples_puids],
    ) %>
  <% else %>
    <%= t(
      "#{@activity[:key]}",
      user: @activity[:user],
      transferred_samples_count: link_to(
          @activity[:transferred_samples_ids]&.size,
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
        ),
      href:
        link_to(
          namespace_puid(namespace),
          "#",
          class: "text-slate-800 dark:text-slate-300 font-medium cursor-not-allowed",
          disabled: true
        ),
    ) %>
  <% end %>
</span>
