<section>
  <%= activity_message %>

  <%= more_details_button(
    "samples_transfer",
    t(
      "components.activity.samples.transfer.more_details.button_descriptive_text",
    ),
  ) %>
</section>
