<section>
  <% if workflow_execution_destroy_action? %>
    <%= t(
      @activity[:key],
      user: @activity[:user],
      href: highlighted_text(@activity[:workflow_executions_deleted_count]),
    ) %>

    <%= more_details_button(
      "workflow_executions_destroy",
      t(
        "components.activity.workflow_executions.destroy.more_details.button_descriptive_text",
      ),
    ) %>
  <% end %>
</section>
