<div>
  <% unless min_date.nil? %>
    <div
      class="text-sm text-center text-slate-900 dark:text-white"
      data-pathogen--datepicker--calendar-target="minDateMessage"
    >
    </div>
  <% end %>
  <div class="flex space-x-2 rtl:space-x-reverse mt-2">
    <button
      type="button"
      class="button button-default w-1/2"
      data-action="click->pathogen--datepicker--calendar#handleClearSelectionByClick keydown->pathogen--datepicker--calendar#handleClearSelectionByKeydown"
      aria-label="<%= t('pathogen.datepicker.aria_label.clear_selection') %>"
    >
      <%= t("pathogen.datepicker.clear_selection") %>
    </button>
    <button
      type="button"
      class="button button-default w-1/2"
      data-action="click->pathogen--datepicker--calendar#handleCloseByClick keydown->pathogen--datepicker--calendar#handleKeydownOnCloseButton"
      data-pathogen--datepicker--calendar-target="closeButton"
      aria-label="close datepicker"
    >
      close
    </button>
  </div>
</div>
