<div class="p-1 justify-center">
  <table
    class="min-w-full table-fixed"
    role="grid"
    aria-label="<%= t('pathogen.datepicker.aria_label.calendar')%>"
  >
    <thead class="mb-1">
      <tr>
        <% days_of_the_week.each do |day| %>
          <th
            scope="col"
            class="
              dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
            "
          ><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody data-pathogen--datepicker--calendar-target="calendar">
    </tbody>
  </table>
</div>

<template data-pathogen--datepicker--calendar-target="inMonthDateTemplate">
  <td
    class="
      hover:bg-slate-100 dark:hover:bg-slate-600 leading-9 border-0 rounded-lg
      cursor-pointer text-center text-slate-900 dark:text-white font-semibold text-sm
      w-8
    "
    data-date-within-month-position="inMonth"
    data-action="
      keydown->pathogen--datepicker--calendar#navigateCalendar
      click->pathogen--datepicker--calendar#selectDate
    "
  ></td>
</template>

<template data-pathogen--datepicker--calendar-target="outOfMonthDateTemplate">
  <td
    class="
      hover:bg-slate-100 dark:hover:bg-slate-600 leading-9 border-0 rounded-lg
      cursor-pointer text-center text-slate-500 dark:text-slate-300 font-semibold
      text-sm w-8
    "
    data-date-within-month-position="outOfMonth"
    data-action="
      keydown->pathogen--datepicker--calendar#navigateCalendar
      click->pathogen--datepicker--calendar#selectDate
    "
  ></td>
</template>
