<p><%= t(".greeting", email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(".unconfirmed_email_info", email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t(".confirmed_email_info", email: @resource.email) %></p>
<% end %>
