<%= form_with url: '#' do |form| %>
  <%= viral_prefixed_select(form:, name: "prefixed-select", options: [['Lisbon', 1], ['Madrid', 2]]) do |select| %>
    <%= select.with_prefix do %>
      <span class="font-mono">--prefix</span>
    <% end %>
  <% end %>
<% end %>
