<%= viral_dialog(open: true,classes: ["overflow-visible"]) do |dialog| %>
  <% dialog.with_header(title: "Deleted Samples") %>
  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      These are the samples that were deleted from the project by
      <%= activity.owner.email %>
    </p>
  </div>

  <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
    <% activity.parameters[:samples_deleted_puids].each do |sample_puid| %>
      <li class="pt-3 pb-3 sm:pb-4 sm:pt-4">
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
          <div class="shrink-0">
            <%= viral_icon(name: :beaker, color: :subdued, classes: "w-5 h-5 rounded-full") %>
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              <%= sample_puid %>
            </p>
          </div>

        </div>
      </li>
    <% end %>
  </ul>

  <div class="mt-4">
    <button
      type="button"
      class="
        focus:outline-none text-sm text-slate-900 border border-slate-200 bg-white
        hover:bg-slate-100 hover:text-slate-950 focus:ring-0 rounded-md p-2
        dark:text-white dark:bg-slate-600 dark:hover:bg-slate-700
      "
      data-action="click->viral--dialog#close"
    >
      Close
    </button>
  </div>

<% end %>
