<% if %w[in not_in].include?(@condition.operator) %>
  <div
    data-controller="list-filter"
    data-list-filter-selection-outlet="#samples-table"
    data-list-filter-filters-value="<%= @condition.value.present? ? @condition.value.to_s : '[]' %>"
    class="w-full list-filter value"
  >
    <%= render ListInputComponent.new(
      list_input_form_name:
        "q[groups_attributes][#{@group_index}][conditions_attributes][#{@condition_index}][value][]",
      show_description: false,
    ) %>
  </div>
<% else %>
  <%= @conditions_form.text_field(
    :value,
    placeholder: t("advanced_search_component.value"),
    "aria-label": t("advanced_search_component.value"),
    class:
      "keyInput block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-white dark:border-slate-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500 peer value",
  ) %>
<% end %>
