<%= turbo_frame_tag "history-content" do %>
  <div class="grid gap-4 px-4 py-8">
    <%= render HistoryComponent.new(
      data: @log_data.reverse,
      type: "Sample",
      url: namespace_project_sample_view_history_version_path(sample_id: @sample.id)
    ) %>
  </div>
<% end %>
