<%= turbo_stream.update "metadata-#{@header}-column" do %>
  <% @samples.each_with_index do |sample, index| %>
    <div class="dark:border-slate-600 border border-slate-100">
      <%= fields_for "workflow_execution[samples_workflow_executions_attributes][#{index}][samplesheet_params]" do |form| %>
        <%= render Nextflow::Samplesheet::MetadataCellComponent.new(
          form:,
          name: @header,
          sample:,
          field: @field,
          index:,
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
