<div>
  <%= viral_button(disclosure: true, classes: "mb-2") { "Organism" } %>
  <%= viral_button(disclosure: :down, classes: "mb-2") { "Organism" } %>
  <%= viral_button(disclosure: :up, classes: "mb-2") { "Organism" } %>
  <%= viral_button(disclosure: :right) { "Organism" } %>
</div>