<%= render layout: "mailers/email_template",
locals: {
  url:
    namespace_project_workflow_execution_url(
      @workflow_execution.namespace.parent,
      @workflow_execution.namespace.project,
      @workflow_execution,
    ),
} do %>
  <tr>
    <td style="padding:12px 24px;">
      <span style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.pipeline_mailer.complete_manager_email.body_html",
          id: @workflow_execution.id,
        ) %>
      </span>
    </td>
  </tr>
  <tr>
    <td style="padding:12px 24px;">
      <span style="color:#334155;line-height:24px;">
        <%= t(:"mailers.pipeline_mailer.view_details") %>
      </span>
    </td>
  </tr>
<% end %>
