<%= render layout: "mailers/email_template",
locals: {
  name: @workflow_execution.submitter.first_name,
  url: workflow_execution_url(@workflow_execution),
} do %>
  <tr>
    <td style="padding:0px 24px;">
      <p style="color:#334155;line-height:24px;">
        <%= t(
          :"mailers.pipeline_mailer.complete_user_email.body_html",
          id: @workflow_execution.id,
        ) %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding:0px 24px;">
      <p style="color:#334155;line-height:24px;">
        <%= t(:"mailers.pipeline_mailer.view_details") %>
      </p>
    </td>
  </tr>
<% end %>
