<li class="py-2 text-sm text-gray-700 dark:text-gray-200">
  <%= link_to @url do %>
    <% if @icon.present? %>
      <span class="flex-grow-0 mr-3"><%= viral_icon(name: @icon, color: :subdued, classes: "w-5 h-5") %></span>
    <% end %>
    <%= @label %>
  <% end %>
</li>
