<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% {
      'BEAKER' => Pathogen::ICON::BEAKER,
      'IRIDA_LOGO' => Pathogen::ICON::IRIDA_LOGO
    }.each do |const_name, icon_def| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= render Pathogen::Icon.new(icon_def, class: "h-6 w-6 text-slate-500") %>
        <span class="text-xs text-slate-600 font-medium"><%= icon_def[:name] %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center">Pathogen::ICON::<%= const_name %></span>
      </div>
    <% end %>
  </div>
</div>
