<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% Pathogen::Icon::VARIANT_CLASSES.each_key do |variant| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= pathogen_icon(ICON::BANK, variant: variant, class: "size-6") %>
        <span class="text-xs text-slate-600 font-medium"><%= variant %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center"><%= Pathogen::Icon::VARIANT_CLASSES[variant] %></span>
      </div>
    <% end %>
  </div>
</div>
