<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% Pathogen::Icon::COLORS.each_key do |color| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= render Pathogen::Icon.new("bank", color: color, size: :md) %>
        <span class="text-xs text-slate-600 font-medium"><%= color %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center"><%= Pathogen::Icon::COLORS[color] %></span>
      </div>
    <% end %>
  </div>
</div>
