<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% {
      'DETAILS' => { name: 'clipboard-text', options: {} },
      'SAMPLES' => { name: 'test-tube', options: {} },
      'SETTINGS' => { name: 'gear-six', options: {} },
      'PROJECTS' => { name: 'stack', options: {} },
      'GROUPS' => { name: 'squares-four', options: {} },
      'WORKFLOWS' => { name: 'terminal-window', options: {} },
      'DATA_EXPORTS' => { name: 'export', options: {} },
      'TOKEN' => { name: 'poker-chip', options: { variant: :duotone } }
    }.each do |const_name, icon_def| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= render Pathogen::Icon.new(icon_def[:name], size: :md, **icon_def[:options]) %>
        <span class="text-xs text-slate-600 font-medium"><%= icon_def[:name] %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center">ICON::<%= const_name %></span>
      </div>
    <% end %>
  </div>
</div>
