<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% {
      'ARROW_LEFT' => Pathogen::ICON::ARROW_LEFT,
      'ARROW_RIGHT' => Pathogen::ICON::ARROW_RIGHT,
      'CLIPBOARD' => Pathogen::ICON::CLIPBOARD,
      'CALENDAR_DOTS' => Pathogen::ICON::CALENDAR_DOTS,
      'CARET_DOWN' => Pathogen::ICON::CARET_DOWN,
      'CARET_UP' => Pathogen::ICON::CARET_UP,
      'CARET_LEFT' => Pathogen::ICON::CARET_LEFT,
      'CARET_RIGHT' => Pathogen::ICON::CARET_RIGHT,
      'CHECK' => Pathogen::ICON::CHECK,
      'EXPORT' => Pathogen::ICON::EXPORT,
      'EYE' => Pathogen::ICON::EYE,
      'EYE_SLASH' => Pathogen::ICON::EYE_SLASH,
      'FILE' => Pathogen::ICON::FILE,
      'FILE_TEXT' => Pathogen::ICON::FILE_TEXT,
      'FILE_MAGNIFYING_GLASS' => Pathogen::ICON::FILE_MAGNIFYING_GLASS,
      'FILES' => Pathogen::ICON::FILES,
      'SQUARES_FOUR' => Pathogen::ICON::SQUARES_FOUR,
      'LIST_BULLETS' => Pathogen::ICON::LIST_BULLETS,
      'LOCK_KEY' => Pathogen::ICON::LOCK_KEY,
      'STACK' => Pathogen::ICON::STACK,
      'FLASK' => Pathogen::ICON::FLASK,
      'TERMINAL_WINDOW' => Pathogen::ICON::TERMINAL_WINDOW,
      'GEAR_SIX' => Pathogen::ICON::GEAR_SIX,
      'PLUS_CIRCLE' => Pathogen::ICON::PLUS_CIRCLE,
      'QUESTION' => Pathogen::ICON::QUESTION,
      'SIDEBAR' => Pathogen::ICON::SIDEBAR,
      'SLIDERS_HORIZONTAL' => Pathogen::ICON::SLIDERS_HORIZONTAL,
      'TRANSLATE' => Pathogen::ICON::TRANSLATE,
      'TICKET' => Pathogen::ICON::TICKET,
      'USER_CIRCLE' => Pathogen::ICON::USER_CIRCLE,
      'USERS' => Pathogen::ICON::USERS,
      'BANK' => Pathogen::ICON::BANK,
      'X' => Pathogen::ICON::X
    }.each do |const_name, icon_def| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= render Pathogen::Icon.new(icon_def, class: "h-6 w-6 text-slate-500") %>
        <span class="text-xs text-slate-600 font-medium"><%= icon_def[:name] %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center">Pathogen::ICON::<%= const_name %></span>
      </div>
    <% end %>
  </div>
</div>
