<div class="p-6">
  <div
    class="
      grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6
      gap-6 items-stretch
    "
  >
    <% {
      'ARROW_DOWN' => ICON::ARROW_DOWN,
      'ARROW_LEFT' => ICON::ARROW_LEFT,
      'ARROW_RIGHT' => ICON::ARROW_RIGHT,
      'ARROW_UP' => ICON::ARROW_UP,
      'BANK' => ICON::BANK,
      'CALENDAR_DOTS' => ICON::CALENDAR_DOTS,
      'CARET_DOWN' => ICON::CARET_DOWN,
      'CARET_LEFT' => ICON::CARET_LEFT,
      'CARET_RIGHT' => ICON::CARET_RIGHT,
      'CARET_UP' => ICON::CARET_UP,
      'CHECK' => ICON::CHECK,
      'CHECK_CIRCLE' => ICON::CHECK_CIRCLE,
      'CLIPBOARD' => ICON::CLIPBOARD,
      "DOWNLOAD" => ICON::DOWNLOAD,
      'EXPORT' => ICON::EXPORT,
      'EYE' => ICON::EYE,
      'EYE_SLASH' => ICON::EYE_SLASH,
      'FILE' => ICON::FILE,
      'FILE_MAGNIFYING_GLASS' => ICON::FILE_MAGNIFYING_GLASS,
      'FILE_TEXT' => ICON::FILE_TEXT,
      'FILES' => ICON::FILES,
      'FLASK' => ICON::FLASK,
      'FOLDER_OPEN' => ICON::FOLDER_OPEN,
      'GEAR_SIX' => ICON::GEAR_SIX,
      'INFO' => ICON::INFO,
      'LIST' => ICON::LIST,
      'LIST_BULLETS' => ICON::LIST_BULLETS,
      'LOCK_KEY' => ICON::LOCK_KEY,
      'MAGNIFYING_GLASS' => ICON::MAGNIFYING_GLASS,
      'PLUS' => ICON::PLUS,
      'PLUS_CIRCLE' => ICON::PLUS_CIRCLE,
      'QUESTION' => ICON::QUESTION,
      'ROCKET_LAUNCH' => ICON::ROCKET_LAUNCH,
      'SIDEBAR' => ICON::SIDEBAR,
      'SLIDERS_HORIZONTAL' => ICON::SLIDERS_HORIZONTAL,
      'SQUARES_FOUR' => ICON::SQUARES_FOUR,
      'STACK' => ICON::STACK,
      'TERMINAL_WINDOW' => ICON::TERMINAL_WINDOW,
      'TICKET' => ICON::TICKET,
      'TRANSLATE' => ICON::TRANSLATE,
      'USER_CIRCLE' => ICON::USER_CIRCLE,
      'USERS' => ICON::USERS,
      'WARNING_CIRCLE' => ICON::WARNING_CIRCLE,
      'X' => ICON::X,
      'X_CIRCLE' => ICON::X_CIRCLE,
    }.each do |const_name, icon_def| %>
      <div class="flex flex-col items-center space-y-1 min-w-[10rem] p-2">
        <%= pathogen_icon(icon_def, size: :md) %>
        <span class="text-xs text-slate-600 font-medium"><%= icon_def[:name] %></span>
        <span class="text-xs text-slate-400 font-mono break-all text-center">ICON::<%= const_name %></span>
      </div>
    <% end %>
  </div>
</div>
