<div class="space-y-4">
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    form: form,
    attribute: :theme,
    name: "theme",
    value: "light",
    label: "Light Theme",
    checked: true,
  ) %>
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    form: form,
    attribute: :theme,
    name: "theme",
    value: "dark",
    label: "Dark Theme",
  ) %>
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    form: form,
    attribute: :theme,
    name: "theme",
    value: "system",
    label: "System Theme",
  ) %>
</div>
