<div class="space-y-4">
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    attribute: :theme,
    value: "light",
    label: "Light Theme",
    checked: true,
  ) %>
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    attribute: :theme,
    value: "dark",
    label: "Dark Theme",
    disabled: true,
  ) %>
  <%= render ::Pathogen::Form::RadioButtonComponent.new(
    attribute: :theme,
    value: "system",
    label: "System Theme",
    help_text: "Follows system preferences",
  ) %>
</div>
