<li
  data-action="
    click->viral--sortable-lists--two-lists-selection#handleClick
    keydown->viral--sortable-lists--two-lists-selection#handleKeyboardInput
  "
  role="option"
  tabindex="-1"
  aria-selected="false"
  id="<%= formatted_list_item %>"
  class="
    w-full px-4 py-2 border-b border-slate-200 dark:border-slate-600 flex
    focus:bg-primary-400 focus:dark:bg-primary-600 focus:dark:hover:bg-primary-700
    focus-visible:-outline-offset-2!
  "
>
  <span
    id="<%= formatted_list_item %>_unselected"
    aria-hidden="true"
    class="mx-2 pointer-events-none"
  ></span>
  <span class="pointer-events-none"><%= list_item %></span>
</li>
