<li
  data-action="
    keydown->viral--sortable-lists--two-lists-selection#navigateList
    <%# click->viral--sortable-lists--two-lists-selection#handleSelection %>
    focus->viral--sortable-lists--two-lists-selection#setFocus
  "
  role="option"
  tabindex="-1"
  aria-selected="false"
  id="<%= list_item %>"
  class="
    block w-full px-4 py-2 border-b cursor-move border-slate-200
    dark:border-slate-600 flex
  "
>
  <span id="<%= list_item %>_unselected" aria-hidden="true" class="mx-2"></span>
  <%= list_item %>
</li>
