<li
  data-action="
    click->viral--sortable-lists--two-lists-selection#handleClick
    keydown->viral--sortable-lists--two-lists-selection#handleKeyboardInput
  "
  role="option"
  tabindex="-1"
  aria-selected="false"
  id="<%= list_item %>"
  class="
    block w-full px-4 py-2 border-b cursor-move border-slate-200
    dark:border-slate-600 flex focus:bg-primary-400 focus:dark:bg-primary-500
  "
>
  <span id="<%= list_item %>_unselected" aria-hidden="true" class="mx-2"></span>
  <%= list_item %>
</li>
