<li
  data-action="
    keydown->viral--sortable-lists--two-lists-selection#navigateList
  "
  tabindex="0"
  role="option"
  aria-selected="false"
  id="<%= list_item %>"
  class="
    block w-full px-4 py-2 border-b cursor-move border-slate-200
    dark:border-slate-600
  "
><%= list_item %></li>
