<!DOCTYPE html>
<html>
  <head>
    <title>Irida</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900">
    <div class="grid h-screen place-items-center">
      <section class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8"><%= yield %></div>
      </div>
    </section>
  </body>
</html>
