<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="p-6 max-w-7xl max-auto">
      <%= yield %>
    </div>
  </body>
</html>
