<!DOCTYPE html>
<html
  class="<%= params.has_key?(:lookbook) ? params[:lookbook][:display][:theme] : 'light' %>"
>
  <head>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white dark:bg-slate-900">
    <div
      role="main"
      class="p-6 max-w-7xl max-auto Viral-Preview"
      style="height: 100%; overflow-y: scroll"
    >
      <%= yield %>
    </div>
  </body>
</html>
