<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      name="format-detection"
      content="telephone=no, date=no, address=no, email=no, url=no"
    >
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body
    class="m-0 w-full p-0"
    style="background-color: #f8fafc; -webkit-font-smoothing: antialiased; word-break: break-word"
  >
    <%= yield %>
  </body>
</html>
