<ol>
  <% samples.each do |sample| %>
    <li class="mb-4 sample">
      <div
        class="
          mb-1 text-sm font-normal leading-none text-slate-500 dark:text-slate-400
        "
      >
        <%= helpers.local_time(sample.updated_at, :long) %>
      </div>
      <p class="mb-4 text-base font-normal text-slate-500 dark:text-slate-400">
        <%= link_to sample.name,
        sample_path(sample),
        class: "text-slate-800 dark:text-slate-300 font-medium hover:underline" %>
        -
        <%= viral_pill(text: sample.puid, color: :green) %>
      </p>
    </li>
  <% end %>
</ol>
