<ol class="divide-y divide-slate-200 dark:divide-slate-700">
  <% samples.each do |sample| %>
    <li class="py-3 sm:py-4 sample">
      <div class="flex items-center space-x-3 rtl:space-x-reverse">
        <span
          id="samples-icon-lg"
          class="
            inline-flex items-center justify-center p-2 rounded-full bg-blue-100
            dark:bg-blue-700 mr-2
          "
        >
          <%# Icon color - accessible dark blue %>
          <%= viral_icon(name: :beaker, classes: "h-5 w-5 text-blue-700 dark:text-blue-200") %>
        </span>
        <div class="flex-1 min-w-0">
          <%# 💡 Allow sample name to wrap to two lines before truncating %>
          <p class="text-sm font-medium text-slate-900 dark:text-white line-clamp-2">
            <%= link_to sample.name, sample_path(sample), class: "hover:underline" %>
          </p>
          <p class="text-sm text-slate-500 truncate dark:text-slate-400">
            <%= render PuidComponent.new(puid: sample.puid, show_clipboard: true) %>
          </p>
        </div>
        <div
          class="
            inline-flex items-center text-xs font-normal text-slate-500 dark:text-slate-400
            whitespace-nowrap
          "
        >
          <%# Display last updated time %>
          <%= helpers.local_time(sample.updated_at, :short_no_year) %>
        </div>
      </div>
    </li>
  <% end %>
</ol>
