<%= turbo_stream.update "group_show_tab_content" do %>
  <% if @shared_projects.length > 0 %>
  <table class="min-w-full table-fixed dark:divide-slate-600">
    <tbody
      class="
              bg-white
              divide-y
              divide-slate-200
              dark:bg-slate-800
              dark:divide-slate-700
            "
    >
    <%= render partial: "shared/project/row", collection: @shared_projects, as: :project %>
    </tbody>
  </table>
  <% else %>
    <%= viral_empty(
          title: t(:'groups.show.shared_projects.no_shared.title'),
          description: t(:'groups.show.shared_projects.no_shared.description'),
          icon_name: :rectangle_stack) %>
  <% end %>
<% end %>